{% extends "layout.html.twig" %}

{% block includes %}
	{{ parent() }}
	<script src="{{ asset('bundles/bm2site/map/OpenLayers.js') }}"></script>
	<script src="{{ asset('bundles/bm2site/map/map.js') }}"></script>
{% endblock %}

{% block content %}
	<img src="{{ asset('bundles/bm2site/images/settlement/'~settlement.pic~'.jpg') }}" width="50%" style="float:right"/>
	<div style="float:right;clear:right">
		&nbsp;<ul id="loadlist" class="shortlist" style="display:inline"></ul>
		<div id="map" style="min-width:30em;min-height:30em;margin-left:2em"></div>
	</div>
	<div id="sd_anchor" style="margin-right:1em;height:30em;float:right"></div>
	<div id="sd" class="hidden" title="dummy"></div>
	<h2>{{ settlement.name }}</h2>
	{% if details.startme is defined %}
		<form id="form_map" action="{{ path('maf_character_start') }}" method="post" {{ form_start(details.startme) }}>
			{{ form_widget(details.startme) }}
			<button>{{ 'character.start.submit'|trans|title }}</button>
		</form>
	{% endif %}
	{% set isowner = false %}
	{% set issteward = false %}
	{% if character is not null %}
	 	{% if character == settlement.owner %}
			{% set isowner = true %}
		{% elseif character == settlement.steward %}
			{% set issteward = true %}
		{% endif %}
	{% endif %}
	<ul class="simple">
		{% if settlement.capitalOf is not empty %}<li>{{ 'settlement.capital'|trans }}: {% for capitalOf in settlement.capitalOf %}<a href="{{ path('bm2_realm', {'id':capitalOf.id})}}">{{ capitalOf.name }}, </a>{% endfor %}</li>{% endif %}
		<li>{% if settlement.fortified %}{{ 'settlement.fortified'|trans }} {% endif %}{{ settlement.type|trans }}, {{ ('biome.'~settlement.geodata.biome.name)|trans }}</li>
		<li>{{ 'settlement.culture'|trans }}: {{ ('culture.'~settlement.culture.name)|trans }}</li>
		{% if isowner or issteward %}
			<li class="tt_botleft">{{ 'settlement.population'|trans }}: {{ settlement.fullpopulation }}
			<br />({{ settlement.population }} {{ 'settlement.civilians'|trans }}
			{% if settlement.countDefenders > 0 %}, {{ settlement.countDefenders }} {{ 'settlement.militia2'|trans }}{% endif %}
			{% if settlement.thralls > 0 %}, {{ settlement.thralls }} {{ 'settlement.thralls'|trans }}{% endif %})</li>
			<li>{{ 'settlement.pop.change'|trans }}:
				{% if popchange/settlement.population > 0.1 %}
					{{ ('settlement.pop.grow.3')|trans }}
				{% elseif popchange/settlement.population > 0.05 %}
					{{ ('settlement.pop.grow.2')|trans }}
				{% elseif popchange/settlement.population > 0.01 %}
					{{ ('settlement.pop.grow.1')|trans }}
				{% elseif popchange/settlement.population < - 0.1 %}
					{{ ('settlement.pop.shrink.4')|trans }}
				{% elseif popchange/settlement.population < - 0.05 %}
					{{ ('settlement.pop.shrink.3')|trans }}
				{% elseif popchange/settlement.population < - 0.02 %}
					{{ ('settlement.pop.shrink.2')|trans }}
				{% elseif popchange/settlement.population < - 0.01 %}
					{{ ('settlement.pop.shrink.1')|trans }}
				{% else %}
					{{ ('settlement.pop.stable')|trans }}
				{% endif %}
			</li>
		{% endif %}
		<li>{% if settlement.allowthralls %}{{ 'settlement.allowthralls.yes'|trans }}{% else %}{{ 'settlement.allowthralls.no'|trans }}{% endif %}</li>
		{% if familiarity %}<li><small>{{ ('familiarity.'~familiarity)|trans }}</small></li>{% endif %}
		<li>{{ area|area }}</li>
		{% if isowner or issteward %}
		<li>{{ density|number_format }} {{ 'popdensity'|trans }}</li>
		{% endif %}
		{% if details.spot or isowner or issteward %}
			<li class="tt_botleft" title="{{ ('settlement.security.tt')|trans }}">{{ ('settlement.security.'~security)|trans }}</li>
		{% endif %}
		{% if isowner %}
			<li class="tt_botleft" title="{{ ('settlement.corruption.tt')|trans }}">{{ ('settlement.corruption.name')|trans }}: {{ (corruption*100)|number_format(1) }} %</li>
		{% endif %}
	</ul>

	<h3>{{ 'settlement.political'|trans|title }}</h3>
	<p class="condensed">
	{% if settlement.occupier %}
		{{ 'settlement.occupier'|trans({'%realm%':link(settlement.occupier)})|raw }}<br>
	{% endif %}
	{% if settlement.occupant %}
		{{ 'settlement.occupant'|trans({'%char%':link(settlement.occupant)})|raw }}<br>
		{% if character is not null and settlement.occupant == character %}
			<a href="{{ path('bm2_site_settlement_abandon', {'id':settlement.id}) }}">{{ 'control.abandon.name'|trans({},"actions") }}</a><br>
		{% endif %}
	{% endif %}
	{% if settlement.owner %}
		{{ 'settlement.ownedby'|trans({'%owner%':link(settlement.owner)})|raw }}
		{% if isowner or issteward %}
			<br /><a href="{{ path('bm2_site_settlement_permissions', {'id':settlement.id}) }}">{{ 'control.permissions.name'|trans({},"actions") }}</a>
			- <a href="{{ path('bm2_site_settlement_quests', {'id':settlement.id}) }}">{{ 'control.quests.name'|trans({},"actions") }}</a>
			- <a href="{{ path('bm2_site_settlement_description', {'id':settlement.id}) }}">{{ 'control.description.settlement.name'|trans({},"actions") }}</a>
			- <a href="{{ path('maf_settlement_supplied', {'id':settlement.id}) }}">{{ 'control.supplied.name'|trans({},"actions") }}</a>
		{% endif %}
		{% if isowner %}
			- <a href="{{ path('bm2_site_settlement_abandon', {'id':settlement.id}) }}">{{ 'control.abandon.name'|trans({},"actions") }}</a>
		{% endif %}
	{% else %}
		{{ 'settlement.independent'|trans }}
	{% endif %}
	{% if settlement.steward %}
		</p><p class="condensed">
		{{ 'settlement.stewardedby'|trans({'%steward%':link(settlement.steward)})|raw }}
	{% endif %}
	</p>
	<p class="condensed">
	{% if settlement.realm %}
		{{ 'settlement.realm'|trans({'%realm%':link(settlement.realm)})|raw }}
	{% else %}
		{{ 'settlement.norealm'|trans }}
	{% endif %}
	{% if isowner %}
		<br /><a href="{{ path('bm2_site_actions_changerealm', {'id':settlement.id}) }}">{{ 'control.changerealm.name'|trans({},"actions") }}</a>
	{% endif %}
	</p>
	<h4>{{ 'claim.title'|trans({},"politics")|title }}</h4>
	{% set hasclaim = false %}
	{% if settlement.claims is not empty %}
		<ul class="shortlist">
			{% for claim in settlement.claims %}
				<li{% if claim.enforceable %} class="enforceable tt" title="{{ 'claim.enforceable'|trans({}, "politics") }}"{% endif %}>{{ link(claim.character) }}</li>
				{% if claim.character == character %}
					{% set hasclaim = true %}
				{% endif %}
			{% endfor %}
		</ul>
	{% else %}
		<p class="condensed">{{ 'claim.none'|trans({},"politics") }}</p>
	{% endif %}
	{% if not isowner %}
		{% if hasclaim %}
			<a href="{{ path("bm2_site_politics_claimcancel", {"settlement":settlement.id}) }}"><button>{{ 'claim.cancel'|trans({},"politics") }}</button></a>
		{% elseif heralds > 0 %}
			<a href="{{ path("bm2_site_politics_claimadd", {"settlement":settlement.id}) }}" class="tt" title="{{ 'claim.cost'|trans({},'politics') }}"><button>{{ 'claim.add'|trans({},"politics") }}</button></a>
		{% endif %}
	{% endif %}

	{% if details.spot and ( details.spy or isowner or issteward ) %}
{# TODO: maybe a summary for others #}
		<h3>{{ 'workforce'|trans|title }}</h3>
		<ul>
			{% if settlement.RoadWorkers > 0 %}
				<li>{{ 'settlement.workforce.atroads'|trans({'%number%':settlement.RoadWorkers}) }}</li>
			{% endif %}
			{% if settlement.BuildingWorkers > 0 %}
				<li>{{ 'settlement.workforce.atbuildings'|trans({'%number%':settlement.BuildingWorkers}) }}</li>
			{% endif %}
			{% if settlement.FeatureWorkers > 0 %}
				<li>{{ 'settlement.workforce.atfeatures'|trans({'%number%':settlement.FeatureWorkers}) }}</li>
			{% endif %}
			{% if settlement.Employees > 0 %}
				<li>{{ 'settlement.workforce.employed'|trans({'%number%':settlement.Employees}) }}</li>
			{% endif %}
			<li>{{ 'settlement.workforce.available'|trans({'%number%':settlement.AvailableWorkforce}) }}</li>
		</ul>
	{% endif %}

	{% if details.spot or isowner or issteward %}
		<h2>{{ 'npc.soldier'|transchoice(10)|capitalize }}</h2>
		{% if settlement.countDefenders > 0 %}
			{{ 'settlement.militiacount'|trans({"%count%":settlement.countDefenders}) }}
		{% else %}
			{{ 'none'|trans }}
		{% endif %}
		{% if details.spy or isowner or issteward %}
			<ul>
			{% for type,number in militia %}
				<li>{{number}} {{ ("soldier."~type)|transchoice(number) }}</li>
			{% endfor %}
			{% if recruits > 0 %}
				<li>{{ 'settlement.recruitscount'|trans({"%count%":recruits}) }}</li>
			{% endif %}
			</ul>
		{% endif %}
		{% if details.spot and isowner or issteward %}
			<a href="{{ path('maf_units') }}">{{ 'viewdetails'|trans|title }}</a>
			--
			<a href="{{ path('maf_recruit') }}">{{ 'recruit.troops.name'|trans({},"actions")|title }}</a>
		{% endif %}
	{% endif %}

	{% if details.spot or isowner or issteward %}
		<h2>{{ 'settlement.economy'|trans|title }}</h2>

		<h3>{{ 'building'|transchoice(10)|title }}</h3>
		<ul class="shortlist">
			{% for building in settlement.buildings %}
				{% if building.active %}
					<li>{{ link(building.type) }}</li>
				{% else %}
					<li class="disabled" title="{{ 'build.underway'|trans }}">{{ link(building.type) }}</li>
				{% endif %}
			{% endfor %}
		</ul>

		<h3>{{ 'resources'|trans|title }} </h3>
		{% if details.spot and ( details.prospector or isowner or issteward) %}
			<table>
				<thead><tr>
					<th>{{ 'settlement.resources.type'|trans|title }}</th>
					{% if details.prospector %}
						<th>{{ 'settlement.resources.yield'|trans|title }}</th>
						<th class="bar"><ul>
						<li class="bar_prod_base">{{ 'settlement.resources.current'|trans|title }}<br /><small>{{ 'settlement.resources.base'|trans }}</small></li>
						<li class="bar_prod_build">{{ 'settlement.resources.current'|trans|title }}<br /><small>{{ 'settlement.resources.buildings'|trans }}</small></li>
						{% if details.merchant or isowner or issteward %}
							<li class="bar_trade_in">{{ 'settlement.resources.trade.name'|trans|title }}<br /><small>{{ 'settlement.resources.trade.in'|trans }}</small></li>
						{% endif %}
						<li class="bar_dem_base">{{ 'settlement.resources.demand'|trans|title }}<br /><small>{{ 'settlement.resources.base'|trans }}</small></li>
						<li class="bar_corruption">&nbsp;<br /><small>{{ 'settlement.resources.corruption'|trans }}</small></li>
						<li class="bar_dem_build">{{ 'settlement.resources.demand'|trans|title }}<br /><small>{{ 'settlement.resources.buildings'|trans }}</small></li>
						<li class="bar_dem_constr">{{ 'settlement.resources.demand'|trans|title }}<br /><small>{{ 'settlement.resources.construction'|trans }}</small></li>
						{% if details.merchant or isowner or issteward %}
							<li class="bar_trade_out">{{ 'settlement.resources.trade.name'|trans|title }}<br /><small>{{ 'settlement.resources.trade.out'|trans }}</li>
						{% endif %}
					{% else %}
						<th class="bar"><ul>
						<li class="bar_prod_base">{{ 'settlement.resources.current'|trans|title }}</li>
						{% if details.merchant or isowner or issteward %}
							<li class="bar_trade_in">{{ 'settlement.resources.trade.name'|trans|title }}<br /><small>{{ 'settlement.resources.trade.in'|trans }}</small></li>
						{% endif %}
						<li class="bar_dem_base">{{ 'settlement.resources.demand'|trans|title }}</li>
						{% if details.merchant or isowner or issteward %}
							<li class="bar_trade_out">{{ 'settlement.resources.trade.name'|trans|title }}<br /><small>{{ 'settlement.resources.trade.out'|trans }}</li>
						{% endif %}
					{% endif %}
					</ul></th>
					{% if details.merchant or isowner or issteward %}
						<th>{{ 'settlement.resources.balance'|trans|title }}</th>
					{% endif %}
					{% if isowner or issteward %}
						<th>{{ 'settlement.resources.storage'|trans|title }}</th>
					{% endif %}
				</tr></thead><tbody>
			{% for eco in economy %}
				{% set prod_div = eco.total_production %}
				{% set dem_div = eco.total_demand %}
				{% if details.merchant or isowner or issteward %}
					{% if eco.tradebalance > 0 %}
						{% set prod_div = eco.total_production + eco.tradebalance %}
					{% elseif eco.tradebalance < 0 %}
						{% set dem_div = eco.total_demand - eco.tradebalance %}
					{% endif %}
				{% endif %}
				{% if prod_div > dem_div %}
					{% set my_div = prod_div %}
				{% else %}
					{% set my_div = dem_div %}
				{% endif %}

				{% if my_div == 0 %}
					<tr>
						<td valign="middle">{{ eco.name|trans|title }}</td>
					</tr>
				{% else %}
				{# FIXME: double-digit values that are small percentages need to be scaled down to fit #}
					<tr>
						<td valign="middle">{{ eco.name|trans|title }}</td>
						{% if details.prospector %}
							<td align="right">{{ eco.base }}</td>
							<td class="bar"><ul>
							{% if eco.base_production > 0 %}
								<li class="data bar_prod_base" style="width:{{ (100*eco.base_production/my_div)|number_format }}%">{{ eco.base_production }}</li>
							{% endif %}
							{% if eco.building_prod > 0 %}
								<li class="data bar_prod_build" style="width:{{ (100*eco.building_prod/my_div)|number_format }}%">{{ eco.building_prod }}</li>
							{% endif %}
							{% if (details.merchant or isowner or issteward) and eco.tradebalance > 0 %}
								<li class="data bar_trade_in" style="width:{{ (100*eco.tradebalance/my_div)|number_format }}%">{{ eco.tradebalance }}</li>
							{% endif %}
							</ul>
							<ul>
							{% if eco.base_demand > 0 %}
								<li class="data bar_dem_base" style="width:{{ (100*eco.base_demand/my_div)|number_format }}%">{{ eco.base_demand }}</li>
							{% endif %}
							{% if eco.corruption > 0 %}
								<li class="data bar_corruption" style="width:{{ (100*eco.corruption/my_div)|number_format }}%">{{ eco.corruption }}</li>
							{% endif %}
							{% if eco.building_demand > 0 %}
								<li class="data bar_dem_build" style="width:{{ (100*eco.building_demand/my_div)|number_format }}%">{{ eco.building_demand }}</li>
							{% endif %}
							{% if eco.building_construction > 0 %}
								<li class="data bar_dem_constr" style="width:{{ (100*eco.building_construction/my_div)|number_format }}%">{{ eco.building_construction }}</li>
							{% endif %}
							{% if (details.merchant or isowner or issteward) and eco.tradebalance < 0 %}
								<li class="data bar_trade_out" style="width:{{ (-100*eco.tradebalance/my_div)|number_format }}%">{{ -eco.tradebalance }}</li>
							{% endif %}
						{% else %}
							<td class="bar"><ul>
							<li class="data bar_prod_base" style="width:{{ (100*eco.total_production/my_div)|number_format }}%">{{ eco.total_production }}</li>
							{% if (details.merchant or isowner or issteward) and eco.tradebalance > 0 %}
								<li class="data bar_trade_in" style="width:{{ (100*eco.tradebalance/my_div)|number_format }}%">{{ eco.tradebalance }}</li>
							{% endif %}
							</ul>
							<ul>
							<li class="data bar_dem_base" style="width:{{ (100*eco.total_demand/my_div)|number_format }}%">{{ eco.total_demand }}</li>
							{% if (details.merchant or isowner or issteward) and eco.tradebalance < 0 %}
								<li class="data bar_trade_out" style="width:{{ (-100*eco.tradebalance/my_div)|number_format }}%">{{ -eco.tradebalance }}</li>
							{% endif %}
						{% endif %}
						</ul></td>
						{% if details.merchant or isowner or issteward %}
							{% set balance = eco.total_production + eco.tradebalance - eco.total_demand %}
							<td align="right">{{ balance }}</td>
						{% endif %}
						{% if isowner or issteward %}
							<td align="right">{{ eco.storage }}</td>
						{% endif %}
					</tr>
				{% endif %}
			{% endfor %}
			</tbody></table>

			{% if not details.prospector %}
				<p class="possible">{{ 'settlement.resources.prospector'|trans }}</p>
			{% endif %}
			<br />
		{% endif %}

		{% if foodsupply < 0.96 %}
			{% if settlement.starvation > 10  %}
				{{ 'settlement.starvation.5'|trans }}
			{% elseif settlement.starvation > 5 %}
				{{ 'settlement.starvation.4'|trans }}
			{% elseif foodsupply < 0.40 %}
				{{ 'settlement.starvation.3'|trans }}
			{% elseif foodsupply < 0.75 %}
				{{ 'settlement.starvation.2'|trans }}
			{% else %}
				{{ 'settlement.starvation.1'|trans }}
			{% endif %}
			<br />
		{% endif %}
		<ul class="shortlist">
		{% set shortages = 0 %}
		{% for resource in settlement.resources %}
			{% if resource.supply < 0.9 and resource.type.name != 'food' %}
				{% set shortages = shortages + 1 %}
				<li>
				{% if resource.supply < 0.333 %}
					{{ 'settlement.shortage.3'|trans({"%resource%":resource.type.name|trans}) }}
				{% elseif resource.supply < 0.666 %}
					{{ 'settlement.shortage.2'|trans({"%resource%":resource.type.name|trans}) }}
				{% else %}
					{{ 'settlement.shortage.1'|trans({"%resource%":resource.type.name|trans}) }}
				{% endif %}
				</li>
			{% endif %}
		{% endfor %}
		</ul>
		{% if shortages > 0 %}
			{{ 'settlement.shortage.effect'|transchoice(shortages) }}
		{% else %}
			{{ 'settlement.shortage.none'|trans }}
		{% endif %}
	{% endif %}

	<h2>{{ 'settlement.neighbours'|trans|title }}</h2>
	<ul>
	{% for neighbour in neighbours %}
		<li><a href="{{ path('bm2_settlement', {'id':neighbour.id})}}">{{ neighbour.name }}</a> -
			{{ neighbour.distance|distance }}, {{ neighbour.direction|direction(true)|trans }}</li>
	{% endfor %}
	</ul>

	{% if settlement.description is not null %}
		<h2>{{ 'settlement.description'|trans|title }}</h2>
		{{ settlement.description.text|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><blockquote>')|wikilinks }}
	{% endif %}

	<br class="clear" />

{% endblock %}

{% block jquery %}
	{% include "element/mapstrings.js.twig" %}
	mapinit('map', false, false, true);
	addoutline('{{ regionpoly }}');
	map.zoomOut(1);
	$("#form_settlement_id").val({{ settlement.id }});
{% endblock %}
