<div class="cmsg_message{% if last is defined and last is not null and last.timestamp > message.ts.timestamp %} cmsg_old{% endif %}" data-id="{{ message.id }}">
	<div class="cmsg_message_header">
		{% if message.sender %}
			{% set sender = link(message.sender.appuser) %}
		{% else %}
			{% set sender = "system" %}
		{% endif %}
		{{ 'index.msg'|trans({"%sender%":sender, "%day%":message.cycle|gametime("short"), "%ts%":message.ts|date}, "MsgBundle")|raw }}
		{% if show_conversation is defined %}
			{{ 'flagged.msg'|trans({"%url%":path("cmsg_conversation", {"meta":message.conversation.findmeta(meta.user).id}), "%topic%":message.conversation.topic}, "MsgBundle")|raw }}
		{% endif %}
	</div>
	{% if hide is defined %}
		{% set related_messages = message.relatedtomeexcept(hide) %}
	{% else %}
		{% set related_messages = message.relatedtome %}
	{% endif %}
	{% if related_messages is not empty %}
		{# TODO: under some conditions, we want to show them right away (say, positive score, or flagged important, or whatever) #}
		<div class="cmsg_related">
		{{ 'message.response'|trans({},"MsgBundle") }} <button class="show cmsg_button" data-type="source">{{ 'button.show'|trans({},"MsgBundle") }}</button>
		<ul class="cmsg_related_list">
		{% for related in related_messages %}
			<li>{{ 'message.from'|trans({},"MsgBundle") }} {{ related.source.sender.name }} ({{ related.source.ts|date }})</li>
			{# TODO: if in a different conversation add something like (in "other topic name") with a link #}
		{% endfor %}
		</ul></div>
	{% endif %}

	<div class="cmsg_content">
		{# TODO: the wikilinks twig extension is specific to Might & Fealty, you will probably want to remove it #}
		{{ message.content|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><h3><blockquote>')|wikilinks }}
	</div>

	<div class="cmsg_message_meta">
		<ul class="cmsg_actions">
			{% if last is defined and last is not null and last.timestamp < message.ts.timestamp %}
				<li>{{ 'message.new'|trans({},"MsgBundle") }}</li>
			{% endif %}
			<li><button class="reply cmsg_button">{{ 'button.reply'|trans({},"MsgBundle") }}</button></li>
			<li><button class="split cmsg_button">{{ 'button.split'|trans({},"MsgBundle") }}</button></li>
		</ul>
		<ul class="cmsg_flags">
			<li><button class="cmsg_icon icon-star3{% if meta and meta.hasflagbyname("important") %} active{% endif %}" title="{{ 'flag.important'|trans({},"MsgBundle") }}" data-msg="{{ message.id }}" data-flag="important"></button></li>
			<li><button class="cmsg_icon icon-lightning{% if meta and meta.hasflagbyname("act") %} active{% endif %}" title="{{ 'flag.act'|trans({},"MsgBundle") }}" data-msg="{{ message.id }}" data-flag="act"></button></li>
			<li><button class="cmsg_icon icon-history{% if meta and meta.hasflagbyname("remind") %} active{% endif %}" title="{{ 'flag.remind'|trans({},"MsgBundle") }}" data-msg="{{ message.id }}" data-flag="remind"></button></li>
			<li><button class="cmsg_icon icon-drawer2{% if meta and meta.hasflagbyname("keep") %} active{% endif %}" title="{{ 'flag.keep'|trans({},"MsgBundle") }}" data-msg="{{ message.id }}" data-flag="keep"></button></li>
		</ul>	
{#
		<ul class="cmsg_tags">
			{% for tag in meta.tags %}
				<li>{{ tag }}</li>
			{% endfor %}
		</ul>
#}
	</div>

	{% if hide is defined %}
		{% set related_messages = message.relatedmessagesexcept(hide) %}
	{% else %}
		{% set related_messages = message.relatedmessages %}
	{% endif %}
	{% if message.relatedmessages is not empty %}
		<div class="cmsg_related">
		{{ 'message.responses'|trans({},"MsgBundle") }} <button class="show cmsg_button" data-type="target">{{ 'button.show'|trans({},"MsgBundle") }}</button>
		<ul class="cmsg_related_list">
		{% for related in related_messages %}
			{% if last is defined and last is not null and last.timestamp > message.ts.timestamp and last.timestamp < related.target.ts.timestamp %}
				<li>
					{% if meta %}
						{% include "MsgBundle:Read:one_message.html.twig" with {"last":last, "message":related.target, "meta":related.target.findmeta(meta.user)} only %}
					{% else %}
						{% include "MsgBundle:Read:one_message.html.twig" with {"last":last, "message":related.target, "meta":false} only %}
					{% endif %}
                </li>
			{% else %}
				<li>{{ 'message.fromshort'|trans({},"MsgBundle") }} {{ related.target.sender.name }} ({{ related.target.ts|date }})</li>
			{% endif %}
		{% endfor %}
		</ul>
		</div>
	{% endif %}
</div>