{% extends "layout.html.twig" %}

{% block includes %}
	{{ parent() }}
	<script src="{{ asset('bundles/bm2site/tablesorter/jquery.tablesorter.min.js') }}"></script>
{% endblock %}

{% block content %}
<h2>{{ 'journal.mine.header'|trans({}, "messages")|raw }}</h2>
<table id="events"><thead>
	<tr>
		<th>{{ 'journal.mine.gamedate'|trans }}</th>
		<th>{{ 'journal.mine.realdate'|trans }}</th>
		<th>{{ 'journal.mine.topic'|trans }}</th>
		<th></th>
	</tr>
</thead><tbody>
{% for journal in character.journals %}
	<tr>
		<td>{{ journal.cycle|gametime("short") }}</td>
		<td>{{ journal.date|date }}</td>
		<td><a href="{{ path("maf_journal", {'id':journal.id}) }}">{{ journal.topic }}</a></td>
		<td>{# Remove, rewrite options go here, when we add them #}</td>
	</tr>
{% endfor %}
</tbody></table>

{% endblock %}

{% block jquery %}
	$("#events").tablesorter({
		sortList: [[1,1]],
	});
{% endblock %}
