{% extends "layout.html.twig" %}

{% block includes %}
	{{ parent() }}
	<script src="{{ asset('bundles/bm2site/tablesorter/jquery.tablesorter.min.js') }}"></script>
{% endblock %}

{% block content %}
<h2>{{ 'journal.mine.header2'|trans({'%name%': char.name}, "messages")|raw }}</h2>
<table id="events"><thead>
	<tr>
		<th>{{ 'journal.mine.gamedate'|trans }}</th>
		<th>{{ 'journal.mine.realdate'|trans }}</th>
		<th>{{ 'journal.mine.topic'|trans }}</th>
		<th></th>
	</tr>
</thead><tbody>
{% set counter = 0 %}
{% for journal in char.journals %}
	{% if not journal.isPrivate and not journal.isGraphic %}
		{% set counter = counter + 1 %}
		<tr>
			<td>{{ journal.cycle|gametime("short") }}</td>
			<td>{{ journal.date|date }}</td>
			<td><a href="{{ path("maf_journal", {'id':journal.id}) }}">{{ journal.topic }}</a></td>
			<td>{# Remove, rewrite options go here, when we add them #}</td>
		</tr>
	{% endif %}
{% endfor %}
</tbody></table>
{% if counter == 0 %}
	<i>{{ 'journal.mine.nothinghere'|trans }}</i>
{% endif %}

{% endblock %}

{% block jquery %}
	$("#events").tablesorter({
		sortList: [[1,1]],
	});
{% endblock %}
