{% extends "BM2SiteBundle::layout.html.twig" %}

{% block content %}
	<h2>{{ 'house.nearby.name2'|trans({},"politics") }}</h2>
	<p>{{ 'house.nearby.intro'|trans({},"politics")|raw }}</p>

	{% for house in houses %}
		<div class="subcontent" style="color:#460702">
		<h3>{{ house.name }}</h3>
		{{ 'house.view.head'|trans({}, "politics")|raw }}: {{ link(house.head) }}
		{% if house.description %}
			{{ house.description.text|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><blockquote>')|wikilinks }}
		{% else %}
			{{ 'house.nodesc'|trans({}, "politics")|raw }}
		{% endif %}
		{% if not already %}
			<a href="{{path('bm2_house_join', {"house":house.id}) }}"><button id="join">{{ 'house.join.button'|trans({},"politics") }}</button></a>
		{% endif %}
		</div>
	{% endfor %}

{% endblock %}
