{% extends "BM2SiteBundle::layout.html.twig" %}

{% block content %}
<h2>Your Tower Links</h2>

<table>
	<thead>
		<tr>
			<th>Tower Location</th>
			<th>distance</th>
			<th>active ?</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		{% for tower in linked_towers %}
		<tr>
			<td>{{ link(tower.link.settlement) }}</td>
			<td>{{ tower.distance|distance }}</td>
			<td>{{ tower.link.active?'yes':'no' }}</td>
			<td>{{ tower.link.status }}</td>
			<td>
				<form method="post" action="{{ path('bm2_removetowerlink', {'tower':tower.link.settlement.id}) }}">
					<button type="submit">{{ 'message.tower.disconnect'|trans }}</button>
				</form>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if can_link %}
	You can also establish a new link to your current location by <a href="{{ path('bm2_site_building_lendantower') }}">visiting the lendan tower</a>.
{% endif %}

{% endblock %}
