<div class="message_container{% if read %} old{% endif %}" data-tags="{{ message.tags|json_encode }}">
	<div class="message_header">
		{% if message.sender %}<div class="message_sender">{{ link(message.sender) }}</div>{% endif %}
		{{ message.cycle|gametime("short") }} / {{ message.ts|date }}
	</div>
	<div class="message_tags">
		<ul>
			{% if message.sealedcharacter %}
				<li class="recipient">personal</li>
			{% endif %}
			{% if message.sealedgroup %}
				<li class="recipient">{{ message.sealedgroup.name }}</li>
			{% endif %}
			{% if message.sealedrealm %}
				<li class="recipient">{{ link(message.sealedrealm) }}</li>
			{% endif %}
			{% for tag in message.tags %}
				<li class="tag">{{ tag }}</li>
			{% endfor %}
		</ul>
	</div>
	<div class="message_content">
		{{ message.content|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><h3><blockquote>')|wikilinks }}
	</div>
	<div class="message_footer">
		<ul>
			<li><button class="message_button reply">reply</button></li>
			<li><button class="message_button archive">archive</button></li>
			<li><button class="message_button delete">delete</button></li>
			<li><button class="message_button block">block sender</button></li>
		</ul>
	</div>
</div>
