{% extends "layout.html.twig" %}

{% block content %}
<h2>{{ 'assoc.route.createRank.header'|trans({},"orgs")|title }}</h2>
<p>{{ 'assoc.route.createRank.intro'|trans({},"orgs")|raw }}</p>

{{ form_start(form) }}
{{ form_errors(form) }}
<dl>
	<dt>{{ form_label(form.name)}}</dt><dd>{{ form_widget(form.name) }}</dd>
	<dt>{{ form_label(form.description)}}</dt><dd>{{ form_widget(form.description) }}</dd>
	<dt>{{ form_label(form.viewAll)}}</dt><dd>{{ form_widget(form.viewAll) }}</dd>
	<dt>{{ form_label(form.viewUp)}}</dt><dd>{{ form_widget(form.viewUp) }}</dd>
	<dt>{{ form_label(form.viewDown)}}</dt><dd>{{ form_widget(form.viewDown) }}</dd>
	<dt>{{ form_label(form.viewSelf)}}</dt><dd>{{ form_widget(form.viewSelf) }}</dd>
	<dt>{{ form_label(form.superior)}}</dt><dd>{{ form_widget(form.superior) }}</dd>
	<dt>{{ form_label(form.build)}}</dt><dd>{{ form_widget(form.build) }}</dd>
	<dt>{{ form_label(form.createSubs)}}</dt><dd>{{ form_widget(form.createSubs) }}</dd>
	<dt>{{ form_label(form.manager)}}</dt><dd>{{ form_widget(form.manager) }}</dd>
	<dt>{{ form_label(form.createAssocs)}}</dt><dd>{{ form_widget(form.createAssocs) }}</dd>
	{{ form_widget(form.submit) }}
{{ form_end(form) }}
</dl>

{% endblock %}
