{% extends "layout.html.twig" %}

{% block content %}
	{% if public %}
		<div class="queue">
			<h3>{{ 'assoc.route.view.history.name'|trans({},"orgs")|title }}</h3>
			<dl>
			{% for event in assoc.log.events if event.public %}
				<dt>{{ event.cycle|gametime('short') }}</dt>
				<dd>{{ event|eventtranslate }}</dd>
			{% endfor %}
			</dl>
		</div>
		<h2>{{ assoc.formalName }}</h2>
		<p>{{ assoc.description.text|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><blockquote>')|wikilinks }}</p>
		{# Copy the realm and house pages, probably. #}
	{% else %}
		{{ 'view.hidden'|trans({}, "assoc") }}
	{% endif %}
{% endblock %}
