{% extends "layout.html.twig" %}

{% block includes %}
	{{ parent() }}
	<script src="{{ asset('bundles/bm2site/tablesorter/jquery.tablesorter.min.js') }}"></script>
{% endblock %}

{% block content %}
<h2>Users</h2>
<table id="usertable">
	<thead>
		<tr>
			<th>ID</th>
			<th>Username</th>
			<th>Account Level</th>
			<th>Credits</th>
			<th>Created</th>
			<th>Last Login</th>
			<th>Characters</th>
			<th>Active Characters</th>
			<th>Retired</th>
			<th>Dead</th>
			<th>Public</th>
			<th>Restricted</th>
		</tr>
	</thead>
	<tbody>
		{% for u in users %}
		<tr>
			<td align="right">{{ u.id }}</td>
			<td><a href="{{ path("maf_user", {"user": u.id}) }}">{{ u.name }}</a></td>
			<td align="right">{{ u.level }}</td>
			<td>{{ u.credits }}</td>
			<td>{{ u.created|date }}</td>
			<td>{{ u.last_login|date }}</td>
			<td align="right">{{ u.characters }}</td>
			<td align="right">{{ u.active }}</td>
			<td align="right">{{ u.retired }}</td>
			<td align="right">{{ u.dead }}</td>
			<td>{{ u.public }}</td>
			<td>{{ u.restricted }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}

{% block jquery %}
$("#usertable").tablesorter({ sortList: [[0,0]] });
{% endblock %}
