{% extends "layout.html.twig" %}

{% block content %}
<h2>{{ 'house.subcreate.name'|trans({},"politics")|title }}</h2>
<p>{{ 'house.subcreate.longdesc'|trans({},"politics")|raw }}</p>

<div class="fullwidth texts">
{{ form_start(form) }}
{{ form_errors(form) }}
	<h4>{{ "house.subcreate.subject.name"|trans({}, "politics") }}</h4>
	{{ "house.subcreate.subject.desc"|trans({}, "politics")|raw }}<br />{{ form_widget(form.subject) }}

	<h4>{{ "house.subcreate.text.name"|trans({}, "politics") }}</h4>
	{{ "house.subcreate.text.desc"|trans({}, "politics")|raw }}<br />{{ form_widget(form.text) }}
<br /><br />{{ form_end(form) }}
</div>

{% endblock %}
