{% extends "Conversation/layout.html.twig" %}

{% macro conversationrow(conv, char) %}
<tr data-id="{{ conv.id }}">
	<td><a href="{{ path('maf_conv_read', {'conv':conv.id}) }}">{{ conv.topic }}</a></td>
	<td align="right">{{ conv.messages.count }}</td>
	<td align="right">{{ conv.findUnread(char) }}</td>
	<td align="right">{{ conv.findActivePermissions.count }}</td>
	<td align="right">
		{% set msg = conv.messages.first %}
		{% if msg %}
			{{ 'index.msgshort'|trans({"%sender%":msg.sender?link(msg.sender):'-', "%day%":msg.cycle|gametime("short")}, "conversations")|raw }}
		{% endif %}
	</td>
	<td align="right">
		{% set msg = conv.messages.last %}
		{% if msg %}
			{{ 'index.msgshort'|trans({"%sender%":msg.sender?link(msg.sender):'-', "%day%":msg.cycle|gametime("short")}, "conversations")|raw }}
		{% endif %}
	</td>
	<td>
		{% if conv.realm is null %}
			<button class="convo_leave cmsg_button" title="{{ 'conversation.leave.help'|trans({}, "conversations") }}">{{ 'conversation.leave.label'|trans({}, "conversations") }}</button>
		{% endif %}
	</td>
</tr>

{% endmacro %}

{% import _self as macros %}

{% block includes %}
	{{ parent() }}
	<script src="{{ asset('bundles/bm2site/tablesorter/jquery.tablesorter.min.js') }}"></script>
{% endblock %}

{% block content %}
<h2>{{ 'index.title'|trans({}, "conversations")|title }}</h2>

<div id="ajax_errors"></div>
{% set group = null %}
{% set first = true %}
{% for conv in conversations %}
	{% if conv.realm != group or first %}
		{% set first = false %}
		{% if group == null %}
			</tbody></table>
		{% endif %}
		<table class="cmsg_table topmargin">
			<thead>
				<tr>
					<td colspan="7" class="cmsg_header">
						{% if conv.realm %}
							{{ "index.ref"|trans({"%ref%":link(conv.realm)}, "conversations")|raw }}
							<a href="{{ path("cmsg_new_conversation_in_group", {"realm":conv.realm.id}) }}"><button class="cmsg_button">{{ 'conversation.new.label'|trans({}, "conversations") }}</button></a>
						{% else %}
							{{ 'index.ref2'|trans({}, "conversations") }}
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>{{ 'index.topic'|trans({}, "conversations") }}</th>
					<th>{{ 'index.messages'|trans({}, "conversations") }}</th>
					<th>{{ 'index.unread'|trans({}, "conversations") }}</th>
					<th>{{ 'index.participants'|trans({}, "conversations") }}</th>
					<th>{{ 'index.first'|trans({}, "conversations") }}</th>
					<th>{{ 'index.last'|trans({}, "conversations") }}</th>
					<th style="width:12em" data-sorter="false"></th>{# FIXME: this is a kludge to prevent the buttons from wrapping #}
				</tr>
			</thead>
			<tbody>
		{% set group = conv.realm %}
	{% endif %}
	{{ macros.conversationrow(conv, char) }}
{% endfor %}
</tbody></table>

{% endblock %}

{% block jquery %}
$(".cmsg_table").tablesorter();
$(".cmsg_table").bind("sortStart",function() {
	$(".icon-forward").remove();
});

var request;
$("button.convo_leave").click(function(){
	var id = $(this).closest("tr").data('id');

	// abort any pending request
	if (request) {
		request.abort();
	}

	var target = $(this).parent();
	// fire off the request
	request = $.ajax({
		url: "{{ path('cmsg_leave') }}",
		type: "post",
		data: { 'id': id },
	});

	// callback handler that will be called on success
	request.done(function (response, textStatus, jqXHR){
		for (var key in response) {
			$('tr[data-id="'+response[key]+'"]').remove();
		}
	});

	// callback handler that will be called on failure
	request.fail(function (jqXHR, textStatus, errorThrown){
		$("#ajax_errors").html(textStatus);
	});

});
{% endblock %}
