{% set in_sys = false %}
{% for message in messages %}
	{% if not archive %}
		{% if in_hidden == false and message.sent < veryold %}
			<button id="hidetoggle" class="cmsg_button">{{ 'conversation.old.show'|trans({},"conversations") }}</button>
			<div id="oldmessages">
			{% set in_hidden = true %}
		{% elseif in_hidden == true and message.sent > veryold %}
			</div>
			{% set in_hidden = false %}
		{% endif %}
	{% endif %}
	{% if archive %}
		<hr>
		<div class="cmsg_message">
	{% else %}
		<div class="cmsg_message{% if last is defined and last is not null and last.timestamp > message.sent.timestamp %} cmsg_old{% endif %}" data-id="{{ message.id }}" data-conv="{{ message.conversation.id }}">
	{% endif %}
	<div class="cmsg_message_wrapper_{{message.type}}">
	{% if message.type != 'system' %}
		<div class="cmsg_message_header_{{message.type}}">
			{% if message.sender %}
				{% if privacy and not known.contains(message.sender) %}
					{% set sender = "<i>Someone</i>" %}
				{% else %}
					{% set sender = link(message.sender) %}
				{% endif %}
			{% else %}
				{% set sender = "<i>The System</i>" %}
			{% endif %}

			<a id="{{message.id}}"></a>
			{{ "index.#{message.type}" |trans({"%sender%":sender, "%day%":message.cycle|gametime("short"), "%ts%":message.sent|date}, "conversations")|raw  }}
			--
			{% if message.recipientCount %}
				{% set recips = message.recipientCount %}
			{% else %}
				{% set recips = '???' %}
			{% endif %}
			{{ 'index.conversation3' |trans({"%i%":recips}, "conversations")|raw }}
			{% if message.replyTo %}
				 --
				<a href="#{{message.replyTo.id}}">
					{% if message.replyTo.sender %}
						{% if privacy and not known.contains(message.replyTo.sender) %}
							{{ 'index.reply' |trans({"%sender%":"<i>Someone</i>", "%day%":message.replyTo.cycle|gametime("short"), "%ts%":message.replyTo.sent|date}, "conversations")|raw }}
						{% else %}
							{{ 'index.reply' |trans({"%sender%":message.replyTo.sender.name, "%day%":message.replyTo.cycle|gametime("short"), "%ts%":message.replyTo.sent|date}, "conversations")|raw }}
						{% endif %}
					{% else %}
						{{ 'index.reply' |trans({"%sender%":'<i>The System</i>', "%day%":message.replyTo.cycle|gametime("short"), "%ts%":message.replyTo.sent|date}, "conversations")|raw }}
					{% endif %}
				</a>
			{% endif %}
		</div>

		<div class="cmsg_content_{{message.type}}">
			{{ message.content|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><h3><blockquote>')|wikilinks }}
		</div>

		<div class="cmsg_message_meta_{{message.type}}">
			{% if not archive %}
				<ul class="cmsg_actions">
					{% if last is defined and last is not null and last.timestamp < message.sent.timestamp %}
						<li>{{ 'message.new'|trans({},"conversations") }}</li>
					{% endif %}
					<li><button class="reply cmsg_button">{{ 'button.reply'|trans({},"conversations") }}</button></li>
				</ul>
			{% endif %}
			{% if message.replies and message.replies.count > 0 %}<br>
				<br>{{ 'index.replies' |trans({}, "conversations")|raw }}
				<ul>
					{% for msg in message.replies %}
						<a href="#{{msg.id}}">
							{% if message.sender %}
								{% if privacy and not known.contains(message.sender) %}
									<li>{{ 'index.repliedto' |trans({"%sender%":"<i>Someone</i>", "%ts%":msg.sent|date}, "conversations")|raw }}, </li>
								{% else %}
									<li>{{ 'index.repliedto' |trans({"%sender%":msg.sender.name, "%ts%":msg.sent|date}, "conversations")|raw }}, </li>
								{% endif %}
							{% else %}
								<li>{{ 'index.repliedto' |trans({"%sender%":'<i>The System</i>', "%ts%":msg.sent|date}, "conversations")|raw }}, </li>
							{% endif %}
						</a>
					{% endfor %}
				</ul>
			{% endif %}
			{# Flags currently removed.
			<ul class="cmsg_flags">
				<li><button class="cmsg_icon icon-star3{% if meta and meta.hasflagbyname("important") %} active{% endif %}" title="{{ 'flag.important'|trans({},"conversations") }}" data-msg="{{ message.id }}" data-flag="important"></button></li>
				<li><button class="cmsg_icon icon-lightning{% if meta and meta.hasflagbyname("act") %} active{% endif %}" title="{{ 'flag.act'|trans({},"conversations") }}" data-msg="{{ message.id }}" data-flag="act"></button></li>
				<li><button class="cmsg_icon icon-history{% if meta and meta.hasflagbyname("remind") %} active{% endif %}" title="{{ 'flag.remind'|trans({},"conversations") }}" data-msg="{{ message.id }}" data-flag="remind"></button></li>
				<li><button class="cmsg_icon icon-drawer2{% if meta and meta.hasflagbyname("keep") %} active{% endif %}" title="{{ 'flag.keep'|trans({},"conversations") }}" data-msg="{{ message.id }}" data-flag="keep"></button></li>
			</ul>
			#}
		</div>
	{% else %}
			<i>{{ (message.content ~ ' -- ' ~ (message.cycle|gametime("short")) ~ ' (' ~ (message.sent|date) ~ ')')|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><h3><blockquote>')|wikilinks }}</i>
	{% endif %}
	</div>
	</div>
{% endfor %}
