{% set participants = conversation.findActivePermissions %}
{% macro general(conversation, participants) %}
	<div class="cmsg_general">
		<button class="topicreply cmsg_button" data-id="{{ conversation.id }}">{{ 'conversation.reply.label'|trans({}, "conversations")|title }}</button> |
		<a href="{{ path('maf_conv_participants', {'conv':conversation.id}) }}"{% if participants.count <= 5 %}
		 class="tt" title="{% for p in participants %}{{ p.character.name }}{% if loop.last == false %}, {% endif %}{% endfor %}"
	 	{% endif %}><button class="cmsg_button">{{ 'conversation.participants.label'|trans({"%count%":participants.count}, "conversations") }}</button></a>
 		{% if not conversation.realm and not conversation.house %} | <a href="{{path('maf_conv_add', {"conv":conversation.id}) }}"><button class="convo_add cmsg_button" title="{{ 'conversation.add.help'|trans({}, "conversations") }}">{{ 'conversation.add.label'|trans({}, "conversations") }}</button></a>{% endif %}
	</div>
{% endmacro %}

	{% if not archive %}
		{% import _self as macros %}
	{% endif %}

<div class="cmsg_conversation">
	{% if conversation.realm %}
		<h3>{{ conversation.realm.name }}: {{ conversation.topic }}</h3>
	{% elseif local is not defined%}
		<h3>{{ conversation.topic }}</h3>
	{% else %}
		<h3>{{ 'conversation.local.title'|trans({'%name%':conversation.getLocalFor.getName}, "conversations") }}</h3>
	{% endif %}

	{% if not archive %}
		{{ macros.general(conversation, participants) }}
	{% endif %}

	{% set in_hidden = false %}
	{% for msg in messages %}
		{% if not archive %}
			{% if in_hidden == false and msg.sent < veryold %}
				<button id="hidetoggle" class="cmsg_button">{{ 'conversation.old.show'|trans({},"conversations") }}</button>
				<div id="oldmessages">
				{% set in_hidden = true %}
			{% elseif in_hidden == true and msg.sent > veryold %}
				</div>
				{% set in_hidden = false %}
			{% endif %}
		{% endif %}
		{% if last is defined %}
			{% include "Conversation/one_message.html.twig" with {"last":last, "message":msg, "archive": archive} only %}
		{% else %}
			{% include "Conversation/one_message.html.twig" with {"message":msg, "local":local, "archive": archive} only %}
		{% endif %}
	{% endfor %}
	{% if in_hidden == true %}
		</div>
	{% endif %}

	{# FIXME: this only counts top-level messages, for some reason #}
	{% if not archive and messages.count > 5 %}
		<br/>
		{{ macros.general(conversation, participants) }}
	{% endif %}
</div>
