{% if archive %}
	<hr>
	<div class="cmsg_message">
{% else %}
	{% set archive = false %}
	<div class="cmsg_message{% if last is defined and last is not null and last.timestamp > message.sent.timestamp %} cmsg_old{% endif %}" data-id="{{ message.id }}" data-conv="{{ message.conversation.id }}">
{% endif %}
	<div class="cmsg_message_wrapper_{{message.type}}">
		<div class="cmsg_message_header_{{message.type}}">
			{% if message.sender %}
				{% set sender = link(message.sender) %}
			{% else %}
				{% set sender = "<i>The System</i>" %}
			{% endif %}

			{% if not archive %}<a id="{{message.id}}"></a>{% endif %}
			{% if message.target %}{{ 'index.localpre' |trans({}, "conversations")|raw }}{% endif %}
			{{ "index.#{message.type}" |trans({"%sender%":sender, "%day%":message.cycle|gametime("short"), "%ts%":message.sent|date}, "conversations")|raw  }}
			--
			{% if message.recipientCount %}
				{% set recips = message.recipientCount %}
			{% else %}
				{% set recips = '???' %}
			{% endif %}
			{% if not message.target %}
				{{ 'index.conversation' |trans({"%conv%":message.conversation.topic, "%i%":recips}, "conversations")|raw }}
			{% else %}
				{{ 'index.local' |trans({"%topic%":message.topic, "%i%":recips}, "conversations")|raw }}
			{% endif %}
			{% if message.replyTo %}
				 --
				<a href="#{{message.replyTo.id}}">
					{% if message.replyTo.sender %}
						{{ 'index.reply' |trans({"%sender%":message.replyTo.sender.name, "%day%":message.replyTo.cycle|gametime("short"), "%ts%":message.replyTo.sent|date}, "conversations")|raw }}
					{% else %}
						{{ 'index.reply' |trans({"%sender%":'<i>The System</i>', "%day%":message.replyTo.cycle|gametime("short"), "%ts%":message.replyTo.sent|date}, "conversations")|raw }}
					{% endif %}
				</a>
			{% endif %}

			{% if show_conversation is defined %}
				{{ 'flagged.msg'|trans({"%url%":path("maf_conv_read", {"conv":message.conversation.id}), "%topic%":message.conversation.topic}, "conversations")|raw }}
			{% endif %}
		</div>

		<div class="cmsg_content_{{message.type}}">
		{{ message.content|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><h3><blockquote>')|wikilinks }}
		</div>

		{% if message.type != 'system' and archive == false %}
			<div class="cmsg_message_meta_{{message.type}}">
				<ul class="cmsg_actions">
					{% if last is defined and last is not null and last.timestamp < message.sent.timestamp %}
						<li>{{ 'message.new'|trans({},"conversations") }}</li>
					{% endif %}
					{% if not message.target and recent is defined %}
						{# Disabled for now. --Andrew
							<li><a href="{{ path('maf_conv_recent_reply', {"msg":message.id, "window":period}) }}"><button class="reply cmsg_button">{{ 'button.writereply'|trans({},"conversations") }}</button></a></li> |
						#}
						<li><a href="{{ path('maf_conv_read', {"conv":message.conversation.id}) }}#{{message.id}}"><button class="cmsg_button" id="view_conv">{{ 'index.viewlocal'|trans({},"conversations") }}</button></a></li>
					{% elseif not message.target %}
						<li><button class="reply cmsg_button">{{ 'button.reply'|trans({},"conversations") }}</button></li>
					{% else %}
						{# Disabled for now. --Andrew
							<li><button class="local_reply cmsg_button" disabled>{{ 'button.nolocalreply'|trans({},"conversations") }}</button></li> |
						#}
						{% if recent is defined %}
							<li><a href="{{ path('maf_conv_local') }}#{{message.id}}"><button class="cmsg_button" id="view_local">{{ 'index.viewlocal'|trans({},"conversations") }}</button></a></li> |
							<li><a href="{{ path('maf_conv_local_remove', {"msg":message.id, "source":'2'}) }}"><button class="cmsg_button" id="remove_local">{{ 'button.remove'|trans({},"conversations") }}</button></a></li>
						{% else %}
							<li><a href="{{ path('maf_conv_local_remove', {"msg":message.id}) }}"><button class="cmsg_button" id="remove_local">{{ 'button.remove'|trans({},"conversations") }}</button></a></li>
						{% endif %}
					{% endif %}
				</ul>
				{% if message.replies and message.replies.count > 0 %}<br>
					<br>{{ 'index.replies' |trans({}, "conversations")|raw }}
					<ul>
						{% for msg in message.replies %}
							<a href="#{{msg.id}}">
								{% if msg.sender %}
									<li>{{ 'index.repliedto' |trans({"%sender%":msg.sender.name, "%ts%":msg.sent|date}, "conversations")|raw }}, </li>
								{% else %}
									<li>{{ 'index.repliedto' |trans({"%sender%":'<i>The System</i>', "%ts%":msg.sent|date}, "conversations")|raw }}, </li>
								{% endif %}
							</a>
						{% endfor %}
					</ul>
				{% endif %}
				{# Flags currently removed.
				<ul class="cmsg_flags">
					<li><button class="cmsg_icon icon-star3{% if meta and meta.hasflagbyname("important") %} active{% endif %}" title="{{ 'flag.important'|trans({},"conversations") }}" data-msg="{{ message.id }}" data-flag="important"></button></li>
					<li><button class="cmsg_icon icon-lightning{% if meta and meta.hasflagbyname("act") %} active{% endif %}" title="{{ 'flag.act'|trans({},"conversations") }}" data-msg="{{ message.id }}" data-flag="act"></button></li>
					<li><button class="cmsg_icon icon-history{% if meta and meta.hasflagbyname("remind") %} active{% endif %}" title="{{ 'flag.remind'|trans({},"conversations") }}" data-msg="{{ message.id }}" data-flag="remind"></button></li>
					<li><button class="cmsg_icon icon-drawer2{% if meta and meta.hasflagbyname("keep") %} active{% endif %}" title="{{ 'flag.keep'|trans({},"conversations") }}" data-msg="{{ message.id }}" data-flag="keep"></button></li>
				</ul>
				#}
			</div>
		{% endif %}
	</div>
</div>
