{% block content %}
<h2>{{ 'conversation.title'|trans({}, "conversations")|title }}</h2>

<p align="right">
	<a href="{{path('maf_conv_print', {"conv":conversation.id}) }}" target="_blank"><button class="cmsg_button" title="{{ 'conversation.export.print'|trans({}, "conversations") }}">{{ 'conversation.export.print'|trans({}, "conversations") }}</button></a>
        {% if not conversation.realm and not conversation.house and not conversation.association %}
                {% if active %}
                         | <a href="{{path('maf_conv_leave', {"conv":conversation.id}) }}"><button class="convo_leave cmsg_button" title="{{ 'conversation.leave.help'|trans({}, "conversations") }}">{{ 'conversation.leave.label'|trans({}, "conversations") }}</button></a>
                {% endif %}
                {% if not conversation.localFor %}
                         | <a href="{{path('maf_conv_remove', {"conv":conversation.id}) }}"><button class="convo_remove cmsg_button" title="{{ 'conversation.remove.help'|trans({}, "conversations") }}">{{ 'conversation.remove.label'|trans({}, "conversations") }}</button></a>
                {% endif %}
        {% endif %}
</p>

{% set participants = conversation.findActivePermissions %}

<div class="cmsg_conversation">
	<h3>{{ conversation.topic }}</h3>

	{% if not archive %}
		<div class="cmsg_general">
			{% if active %}
				<button class="topicreply cmsg_button" data-id="{{ conversation.id }}">{{ 'conversation.reply.label'|trans({}, "conversations")|title }}</button> |
			{% else %}
				 <a href="{{path('maf_conv_remove', {"conv":conversation.id}) }}"><button class="convo_remove cmsg_button" title="{{ 'conversation.remove.help'|trans({}, "conversations") }}">{{ 'conversation.remove.label'|trans({}, "conversations") }}</button></a> |
			{% endif %}
			<a href="{{ path('maf_conv_participants', {'conv':conversation.id}) }}"{% if participants.count <= 5 %} class="tt" title="{% for p in participants %}{{ p.character.name }}{% if loop.last == false %}, {% endif %}{% endfor %}"{% endif %}><button class="cmsg_button">{{ 'conversation.participants.label'|trans({"%count%":participants.count}, "conversations") }}</button></a>
			{% if manager %}
				| <a href="{{path('maf_conv_add', {"conv":conversation.id}) }}"><button class="convo_add cmsg_button" title="{{ 'conversation.add.help'|trans({}, "conversations") }}">{{ 'conversation.add.label'|trans({}, "conversations") }}</button></a>
			{% endif %}
		</div>
	{% endif %}

	{% set in_hidden = false %}
	{% for msg in messages %}
		{% if not archive %}
			{% if in_hidden == false and msg.sent < veryold %}
				<button id="hidetoggle" class="cmsg_button">{{ 'conversation.old.show'|trans({},"conversations") }}</button>
				<div id="oldmessages">
				{% set in_hidden = true %}
			{% elseif in_hidden == true and msg.sent > veryold %}
				</div>
				{% set in_hidden = false %}
			{% endif %}
		{% endif %}

		{% if archive %}
			<hr>
			<div class="cmsg_message">
		{% else %}
			{% set archive = false %}
			<div class="cmsg_message{% if last is defined and last is not null and last.timestamp > msg.sent.timestamp %} cmsg_old{% endif %}" data-id="{{ msg.id }}" data-conv="{{ msg.conversation.id }}">
		{% endif %}
			<div class="cmsg_message_wrapper_{{msg.type}}">
				<div class="cmsg_message_header_{{msg.type}}">
					{% if msg.sender %}
						{% set sender = link(msg.sender) %}
					{% else %}
						{% set sender = "<i>The System</i>" %}
					{% endif %}

					{% if not archive %}<a id="{{msg.id}}"></a>{% endif %}
					{% if msg.target %}{{ 'index.localpre' |trans({}, "conversations")|raw }}{% endif %}
					{{ "index.#{msg.type}" |trans({"%sender%":sender, "%day%":msg.cycle|gametime("short"), "%ts%":msg.sent|date}, "conversations")|raw  }}
					--
					{% if msg.recipientCount %}
						{% set recips = msg.recipientCount %}
					{% else %}
						{% set recips = '???' %}
					{% endif %}
					{% if not msg.target %}
						{{ 'index.conversation' |trans({"%conv%":msg.conversation.topic, "%i%":recips}, "conversations")|raw }}
					{% else %}
						{{ 'index.local' |trans({"%topic%":msg.topic, "%i%":recips}, "conversations")|raw }}
					{% endif %}
					{% if msg.replyTo %}
						 --
						<a href="#{{msg.replyTo.id}}">
							{% if msg.replyTo.sender %}
								{{ 'index.reply' |trans({"%sender%":msg.replyTo.sender.name, "%day%":msg.replyTo.cycle|gametime("short"), "%ts%":msg.replyTo.sent|date}, "conversations")|raw }}
							{% else %}
								{{ 'index.reply' |trans({"%sender%":'<i>The System</i>', "%day%":msg.replyTo.cycle|gametime("short"), "%ts%":msg.replyTo.sent|date}, "conversations")|raw }}
							{% endif %}
						</a>
					{% endif %}

					{% if show_conversation is defined %}
						{{ 'flagged.msg'|trans({"%url%":path("maf_conv_read", {"conv":msg.conversation.id}), "%topic%":msg.conversation.topic}, "conversations")|raw }}
					{% endif %}
				</div>

				<div class="cmsg_content_{{msg.type}}">
				{{ msg.content|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><h3><blockquote>')|wikilinks }}
				</div>

				{% if msg.type != 'system' and archive == false %}
					<div class="cmsg_message_meta_{{msg.type}}">
						<ul class="cmsg_actions">
							{% if last is defined and last is not null and last.timestamp < msg.sent.timestamp %}
								<li>{{ 'message.new'|trans({},"conversations") }}</li>
							{% endif %}
							<li><button class="reply cmsg_button">{{ 'button.reply'|trans({},"conversations") }}</button></li>
						</ul>
						{% if msg.replies and msg.replies.count > 0 %}<br>
							<br>{{ 'index.replies' |trans({}, "conversations")|raw }}
							<ul>
								{% for msgr in msg.replies %}
									<a href="#{{msgr.id}}">
										{% if msgr.sender %}
											<li>{{ 'index.repliedto' |trans({"%sender%":msgr.sender.name, "%ts%":msgr.sent|date}, "conversations")|raw }}, </li>
										{% else %}
											<li>{{ 'index.repliedto' |trans({"%sender%":'<i>The System</i>', "%ts%":msgr.sent|date}, "conversations")|raw }}, </li>
										{% endif %}
									</a>
								{% endfor %}
							</ul>
						{% endif %}
						{# Flags currently removed.
						<ul class="cmsg_flags">
							<li><button class="cmsg_icon icon-star3{% if meta and meta.hasflagbyname("important") %} active{% endif %}" title="{{ 'flag.important'|trans({},"conversations") }}" data-msg="{{ msg.id }}" data-flag="important"></button></li>
							<li><button class="cmsg_icon icon-lightning{% if meta and meta.hasflagbyname("act") %} active{% endif %}" title="{{ 'flag.act'|trans({},"conversations") }}" data-msg="{{ msg.id }}" data-flag="act"></button></li>
							<li><button class="cmsg_icon icon-history{% if meta and meta.hasflagbyname("remind") %} active{% endif %}" title="{{ 'flag.remind'|trans({},"conversations") }}" data-msg="{{ msg.id }}" data-flag="remind"></button></li>
							<li><button class="cmsg_icon icon-drawer2{% if meta and meta.hasflagbyname("keep") %} active{% endif %}" title="{{ 'flag.keep'|trans({},"conversations") }}" data-msg="{{ msg.id }}" data-flag="keep"></button></li>
						</ul>
						#}
					</div>
				{% endif %}
			</div>
		</div>
	{% endfor %}
	{% if in_hidden == true %}
		</div>
	{% endif %}

	{% if not archive and messages.count > 5 %}
		<br/>
		<div class="cmsg_general">
			{% if active %}
				<button class="topicreply cmsg_button" data-id="{{ conversation.id }}">{{ 'conversation.reply.label'|trans({}, "conversations")|title }}</button> |
			{% else %}
	                         <a href="{{path('maf_conv_remove', {"conv":conversation.id}) }}"><button class="convo_remove cmsg_button" title="{{ 'conversation.remove.help'|trans({}, "conversations") }}">{{ 'conversation.remove.label'|trans({}, "conversations") }}</button></a> |
			{% endif %}
			<a href="{{ path('maf_conv_participants', {'conv':conversation.id}) }}"{% if participants.count <= 5 %} class="tt" title="{% for p in participants %}{{ p.character.name }}{% if loop.last == false %}, {% endif %}{% endfor %}"{% endif %}><button class="cmsg_button">{{ 'conversation.participants.label'|trans({"%count%":participants.count}, "conversations") }}</button></a>
			{% if manager %}
		 		| <a href="{{path('maf_conv_add', {"conv":conversation.id}) }}"><button class="convo_add cmsg_button" title="{{ 'conversation.add.help'|trans({}, "conversations") }}">{{ 'conversation.add.label'|trans({}, "conversations") }}</button></a>
			{% endif %}
		</div>
	{% endif %}
</div>

{% if not archive %}
	<div id="replydialog" title="{{ 'message.reply.title'|trans({}, "conversations")|title }}">
		{% include "Conversation/syntax.html.twig" %}
		{{ render(controller('BM2\\SiteBundle\\Controller\\ConversationController::replyAction', { 'conv': conversation })) }}
	</div>

	<p align="right">
		<a href="{{path('maf_conv_print', {"conv":conversation.id}) }}" target="_blank"><button class="cmsg_button" title="{{ 'conversation.export.print'|trans({}, "conversations") }}">{{ 'conversation.export.print'|trans({}, "conversations") }}</button></a>
                {% if active %}
                         | <a href="{{path('maf_conv_leave', {"conv":conversation.id}) }}"><button class="convo_leave cmsg_button" title="{{ 'conversation.leave.help'|trans({}, "conversations") }}">{{ 'conversation.leave.label'|trans({}, "conversations") }}</button></a>
                {% endif %}
                 | <a href="{{path('maf_conv_remove', {"conv":conversation.id}) }}"><button class="convo_remove cmsg_button" title="{{ 'conversation.remove.help'|trans({}, "conversations") }}">{{ 'conversation.remove.label'|trans({}, "conversations") }}</button></a>
	</p>
{% endif %}

{% endblock %}
