{% extends "Conversation/layout.html.twig" %}

{% block content %}
<h2>{{ 'reply.title'|trans({}, "conversations")|title }}</h2>

<p>{{ 'reply.intro'|trans({}, "conversations")|raw }}</p>

<div class="cmsg_message_wrapper_{{message.type}}">
        <div class="cmsg_message_header_{{message.type}}">
                {% if message.sender %}
                        {% set sender = link(message.sender) %}
                {% else %}
                        {% set sender = "<i>The System</i>" %}
                {% endif %}

                <a id="{{message.id}}"></a>
                {{ "index.#{message.type}" |trans({"%sender%":sender, "%day%":message.cycle|gametime("short"), "%ts%":message.sent|date}, "conversations")|raw  }}
                --
                {{ 'index.conversation' |trans({"%conv%":message.conversation.topic}, "conversations")|raw }}
                {% if message.replyTo %}
                         --
                        <a href="#{{message.replyTo.id}}">
                                {% if message.replyTo.sender %}
                                        {{ 'index.reply' |trans({"%sender%":message.replyTo.sender.name, "%day%":message.replyTo.cycle|gametime("short"), "%ts%":message.replyTo.sent|date}, "conversations")|raw }}
                                {% else %}
                                        {{ 'index.reply' |trans({"%sender%":'<i>The System</i>', "%day%":message.replyTo.cycle|gametime("short"), "%ts%":message.replyTo.sent|date}, "conversations")|raw }}
                                {% endif %}
                        </a>
                {% endif %}
        </div>

        <div class="cmsg_content_{{message.type}}">
                {{ message.content|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><h3><blockquote>')|wikilinks }}
        </div>
</div>

<p>{{ 'reply.outro'|trans({}, "conversations")|raw }}</p>

{# TODO: translate #}
<div id="insertbox">
	<input id="realmsearch" placeholder="insert realm" />
	<input id="settlementsearch" placeholder="insert settlement" />
	<input id="charactersearch" placeholder="insert character" />
</div>
<button id="syntaxhelp" class="cmsg_button">syntax help</button>
<div id="help" style="display:none">
	You can use <a href="http://daringfireball.net/projects/markdown/syntax">markdown syntax</a>:
	<ul class="simple">
		<li># Huge Header</li>
		<li>## Large Header</li>
		<li>### Header</li>
		<li><em>*emphasis*</em></li>
		<li><strong>**strong emphasis**</strong></li>
		<li><strong><em>***extra strong emphasis***</em></strong></li>
		<li>make unordered lists by beginning each line with a single *<li>
		<li>second-level sub unordered lists can be done with a space and then a * at the beginning of the line</li>
		<li>...or numbered lists by using 1. 2. 3.<li>
		<li>...but maybe you don't want a list, so add a \ after the number and before the period like this: 2015\.</li>
		<li>you can also blockquote a paragraph like this by leading with a ></li>
		<li>...or even double or triple indent by adding more > symbols.</li>
		<li>...or even add numbered or unordered lists in that block quote!</li>
	</ul>
</div>
<br \>
{{ form(form) }}


{% endblock %}

{% block jquery %}
$("#syntaxhelp").click(function(){
	$("#help").toggle();
});

realmselect($("#realmsearch"), realmchange);
settlementselect($("#settlementsearch"), settlementchange);
charselect($("#charactersearch"), characterchange);

{% include "BM2SiteBundle:element:autocomplete.js.twig" %}

function search_insert(insert) {
	var caretPos = document.getElementById("new_conversation_content").selectionStart;
	var textAreaTxt = $("#new_conversation_content").val();
	$("#new_conversation_content").val(textAreaTxt.substring(0, caretPos) + insert + textAreaTxt.substring(caretPos) );

}

function realmchange(id, name) {
	search_insert("[r:"+id+"]");
}
function settlementchange(id, name) {
	search_insert("[s:"+id+"]");
}
function characterchange(id, name) {
	search_insert("[c:"+id+"]");
}

{% endblock %}
