{% extends "Conversation/layout.html.twig" %}

{% block content %}
        <h2>{{ 'conversation.recent'|trans({}, "conversations")|title }}</h2>

        {% for message in messages %}
        <div class="cmsg_message" data-id="{{ message.id }}">
        	<div class="cmsg_message_wrapper_{{message.type}}">
        		<div class="cmsg_message_header_{{message.type}}">
        			{% if message.sender %}
        				{% set sender = link(message.sender) %}
        			{% else %}
        				{% set sender = "<i>The System</i>" %}
        			{% endif %}

        			<a id="{{message.id}}"></a>
        			{{ "index.#{message.type}" |trans({"%sender%":sender, "%day%":message.cycle|gametime("short"), "%ts%":message.sent|date}, "conversations")|raw  }}
                                --
                                {{ 'index.conversation' |trans({"%conv%":message.conversation.topic}, "conversations")|raw }}
        			{% if message.replyTo %}
        				 --
        				<a href="#{{message.replyTo.id}}">
        					{% if message.replyTo.sender %}
        						{{ 'index.reply' |trans({"%sender%":message.replyTo.sender.name, "%day%":message.replyTo.cycle|gametime("short"), "%ts%":message.replyTo.sent|date}, "conversations")|raw }}
        					{% else %}
        						{{ 'index.reply' |trans({"%sender%":'<i>The System</i>', "%day%":message.replyTo.cycle|gametime("short"), "%ts%":message.replyTo.sent|date}, "conversations")|raw }}
        					{% endif %}
        				</a>
        			{% endif %}
        		</div>

        		<div class="cmsg_content_{{message.type}}">
        			{{ message.content|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><h3><blockquote>')|wikilinks }}
        		</div>

        		{% if message.type != 'system' %}
        			<div class="cmsg_message_meta_{{message.type}}">
        				<ul class="cmsg_actions">
                                        <li><a href="{{path('maf_conv_recent_reply', {"msg":message.id}) }}"><button class="reply cmsg_button">{{ 'button.reply'|trans({}, "conversations") }}</button></a></li>
        				</ul>
        			</div>
        		{% endif %}
        	</div>
        </div>
        {% endfor %}
{% endblock %}
