{% extends "Conversation/layout.html.twig" %}

{% block content %}
<h2>{{ 'summary.title'|trans({}, "conversations")|title }}</h2>

<div id="actionlist" class="boxlist">
	<ul>
		{% if total > 0 %}
			<li>
				<a href="{{ path('maf_convs') }}">{{ 'index.title'|trans({}, "conversations") }}</a>
				{{ 'summary.total'|trans({"%conversations%":total, "%active%":active}, "conversations") }}
			</li>
		{% else %}
			<li class="disabled">
				<span class="nolink">{{ 'index.title'|trans({}, "conversations") }}</span>
				{{ 'summary.nototal'|trans({}, "conversations") }}
			</li>
		{% endif %}
		{% if flagged > 0 %}
			<li>
				<a href="{{ path('maf_conv_flagged') }}">{{ 'flagged.title'|trans({}, "conversations") }}</a>
				{{ 'summary.flagged'|trans({"%messages%":flagged}, "conversations") }}
			</li>
		{% else %}
			<li class="disabled">
				<span class="nolink">{{ 'flagged.title'|trans({}, "conversations") }}</span>
				{{ 'summary.noflagged'|trans({}, "conversations") }}
			</li>
		{% endif %}
		<li>
			<a href="{{ path('maf_conv_new') }}">{{ 'conversation.new.label'|trans({}, "conversations") }}</a>
			{{ 'conversation.new.desc'|trans({}, "conversations") }}
		</li>
	</ul>
</div>
<br class="clear"/>

<h2>{{ 'unread.title'|trans({}, "conversations")|title }}</h2>
{% include "Conversation/unread_template.html.twig" with {"unread":unread} only %}

{% if not local_news.isempty %}
	{% include "BM2SiteBundle:element:newslist.html.twig" with {"title":"news.local2"|trans({},"communication")|title, "list":local_news} only %}
{% endif %}

{% endblock %}
