{% if unread.count > 0 %}
	<a href="{{ path('maf_conv_recent') }}">{{ 'index.allunread'|trans({}, "conversations") }}</a>
{% endif %}
<ul>
{% for perm in unread %}
	{% if perm.conversation.realm %}
		<li><a href="{{ path('maf_conv_read', {'conv':perm.conversation.id}) }}">{{ perm.conversation.realm.name }}: {{ perm.conversation.topic }}</a> ({{ 'summary.new2'|trans({"%new%":perm.unread}, "conversations") }})
	{% else %}
		<li><a href="{{ path('maf_conv_read', {'conv':perm.conversation.id}) }}">{{ perm.conversation.topic }}</a> ({{ 'summary.new2'|trans({"%new%":perm.unread}, "conversations") }})</li>
	{% endif %}
{% else %}
	<li>{{ 'summary.nonew'|trans({}, "conversations") }}</li>
{% endfor %}
</ul>
