<ul>
	{% if is_granted('ROLE_ADMIN') %}
		<li><a href="{{ path('bm2_game') }}">{{ 'menu.game'|trans}}</a></li>
	{% endif %}
	<li><a href="{{ path('bm2_map') }}">{{ 'menu.map'|trans }}</a></li>
	<li><a href="{{ path('bm2_about') }}">{{ 'menu.about'|trans }}</a></li>
	<li><a href="{{ path('bm2_manual') }}">{{ 'menu.manual'|trans }}</a></li>
	<li><a href="{{ path('bm2_fiction') }}">{{ 'menu.fiction'|trans }}</a></li>
	<li><a href="{{ path('bm2_vips') }}">{{ 'menu.vips'|trans }}</a></li>
	<li><a href="http://forum.mightandfealty.com">{{ 'menu.community'|trans }}</a></li>
	<li><a href="http://wiki.maffans.org">{{ 'menu.wiki'|trans }}</a></li>
	{% if not simple or biglogo is defined %}
		{% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<li><a href="{{ path('fos_user_profile_show') }}">{{ 'menu.profile'|trans }}</a></li>
			<li><a href="{{ path('bm2_characters') }}">{{ 'menu.characters'|trans }}</a></li>
		{% else %}
			<li><a href="{{ path('fos_user_security_login') }}" class="link_login">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
			<li><a href="{{ path('fos_user_registration_register') }}">{{ 'menu.register'|trans }}</a></li>
		{% endif %}
	{% endif %}
</ul>
