<ul>
	<li><a href="{{ path('bm2_map') }}">{{ 'menu.travel'|trans }}</a></li>
	<li>
		<a href="{{ path('bm2_character') }}">{{ 'menu.status'|trans }}</a>
		<div class="sub">
			<ul class="row">
				<li class="part">
					<h3>{{ 'menu.yourstatus'|trans|title }}</h3>
					<ul>
						<li><a href="{{ path('bm2_character') }}">{{ 'menu.status'|trans }}</a></li>
						<li><a href="{{ path('bm2_recent') }}">{{ 'menu.recent'|trans }}</a></li>
						<li><a href="{{ path('bm2_rss', {'appkey':app.user.appkey, 'user':app.user.id, 'char':character.id}) }}">{{ 'menu.rss'|trans }}</a></li>
					</ul>
				</li>
				<li class="part">
					<h3>{{ 'menu.your'|trans|title }}</h3>
					<ul>
						{% if character.soldiers is not empty %}
							<li><a href="{{ path('bm2_site_character_soldiers') }}">{{ 'npc.soldier'|transchoice(10) }}</a></li>
						{% endif %}
						{% if character.entourage is not empty %}
							<li><a href="{{ path('bm2_site_character_entourage') }}">{{ 'npc.entourage2'|transchoice(10) }}</a></li>
						{% endif %}
						{% if character.estates is not empty %}
							<li><a href="{{ path('bm2_estates') }}">{{ 'estate'|transchoice(character.estates|length) }}</a></li>
						{% endif %}
					</ul>
				</li>
			</ul>
		</div>
	</li>
	
	<li>
		<a href="{{ path('bm2_events') }}"{% if character.hasnewevents %} class="new"{% endif %}>{{ 'menu.events'|trans }}</a>
	</li>

	<li>
		<a href="{{ path('cmsg_summary') }}"{% if character.hasnewmessages %} class="new"{% endif %}>{{ 'menu.messages'|trans }}</a>
		<div class="sub">
			<ul class="row">
				<li class="part">
					<h3>{{ 'menu.messages'|trans|title }}</h3>
					<ul>
						<li><a href="{{ path('cmsg_summary') }}">{{ 'summary.title'|trans({}, "MsgBundle") }}</a></li>
						<li><a href="{{ path('cmsg_unread') }}">{{ 'unread.short'|trans({}, "MsgBundle") }}</a></li>
						<li><a href="{{ path('cmsg_index') }}">{{ 'index.title'|trans({}, "MsgBundle") }}</a></li>
						<li><a href="{{ path('cmsg_new_conversation') }}">{{ 'conversation.new.title'|trans({}, "MsgBundle") }}</a></li>
					</ul>
				</li>
				<li class="part">
					<h3>{{ 'menu.news'|trans|title }}</h3>
					<ul>
						<li><a href="{{ path('bm2_news') }}">{{ 'menu.news'|trans }}</a></li>
					</ul>
				</li>
				<li class="part">
					<h3>Experimental</h3>
					<i>This is an experimental new communications system</i>
					<ul>
						<li><a href="{{ path('bm2_communication') }}">read messages</a></li>
						<li><a href="{{ path('bm2_msg_write') }}">write a message</a></li>
						<li><a href="{{ path('bm2_msg_groups') }}">message groups</a></li>
						<li><a href="{{ path('bm2_msg_links') }}">tower links</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</li>
	{% if character.npc == false %}
	<li>
		<a href="{{ path('bm2_politics') }}">{{ 'menu.politics'|trans }}</a>
		<div class="sub">
			<ul class="row">
				<li class="part">
					<ul>
						<li><a href="{{ path('bm2_site_quests_myquests') }}">{{ 'menu.quests'|trans }}</a></li>
						<li><a href="{{ path('bm2_politics') }}">{{ 'menu.politics'|trans }}</a></li>
						<li><a href="{{ path('bm2_relations') }}">{{ 'menu.relations'|trans }}</a></li>
						<li><a href="{{ path("bm2_lists") }}">{{ 'lists.name'|trans({},"politics") }}</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</li>
	{% endif %}
	<li>
		<a href="{{ path('bm2_actions') }}">{{ 'menu.actions'|trans }}</a>
		<div class="sub">
			<ul class="row">
				{% set check = dispatcher.locationEnterTest() %}
				{% if check.url is defined %}
				<li class="part">
					<h3>{{ 'location.title'|trans({},"actions") }}</h3>
					<ul>
						<li><a href="{{ path(check.url) }}">{{ check.name|trans({},"actions") }}</a></li>
					</ul>
				</li>
				{% endif %}
				{% set check = dispatcher.locationLeaveTest() %}
				{% if check.url is defined %}
					<h3>{{ 'location.title'|trans({},"actions") }}</h3>
					<a href="{{ path(check.url) }}">{{ check.name|trans({},"actions") }}</a>
				{% endif %}
				{% if character.insidesettlement and character.insidesettlement.owner == character %}
				<li class="part">
					<h3>{{ 'menu.economy'|trans|title }}</h3>
					<ul>
						{% set check = dispatcher.economyTradeTest() %}
						{% if check.url is defined %}
							<li><a href="{{ path(check.url) }}">{{ check.name|trans({},"actions") }}</a></li>
						{% endif %}
						{% set check = dispatcher.economyRoadsTest() %}
						{% if check.url is defined %}
							<li><a href="{{ path(check.url) }}">{{ check.name|trans({},"actions") }}</a></li>
						{% endif %}
						{% set check = dispatcher.economyFeaturesTest() %}
						{% if check.url is defined %}
							<li><a href="{{ path(check.url) }}">{{ check.name|trans({},"actions") }}</a></li>
						{% endif %}
						{% set check = dispatcher.economyBuildingsTest() %}
						{% if check.url is defined %}
							<li><a href="{{ path(check.url) }}">{{ check.name|trans({},"actions") }}</a></li>
						{% endif %}
					</ul>
				</li>
				<li class="part">
					<h3>{{ 'menu.recruitment'|trans|title }}</h3>
					<ul>
						{% set check = dispatcher.personalEntourageTest() %}
						{% if check.url is defined %}
							<li><a href="{{ path(check.url) }}">{{ check.name|trans({},"actions") }}</a></li>
						{% endif %}
						{% set check = dispatcher.personalSoldiersTest() %}
						{% if check.url is defined %}
							<li><a href="{{ path(check.url) }}">{{ check.name|trans({},"actions") }}</a></li>
						{% endif %}
						{% set check = dispatcher.personalMilitiaTest() %}
						{% if check.url is defined %}
							<li><a href="{{ path(check.url, check.parameters) }}">{{ check.name|trans({},"actions") }}</a></li>
						{% endif %}
						{% set check = dispatcher.personalOffersTest() %}
						{% if check.url is defined %}
							<li><a href="{{ path(check.url, check.parameters) }}">{{ check.name|trans({},"actions") }}</a></li>
						{% endif %}
					</ul>
				</li>
				{% endif %}
			</ul>
			<a href="{{ path('bm2_actions') }}">{{ 'menu.allactions'|trans }}</a>
			<br />
		</div>
	</li>

</ul>
