{% extends "BM2SiteBundle::layout.html.twig" %}

{% block content %}
<h2>{{ 'personal.soldierfood.name'|trans({},"actions")|title }}</h2>
<p>{{ 'personal.soldierfood.intro'|trans({},"actions")|raw }}</p>

<div class="fullwidth texts">
{{ form_start(form) }}
{{ form_errors(form) }}
	<h4>{{ "personal.soldierfood.subject.name"|trans({}, "actions") }}</h4>
	{{ "personal.soldierfood.subject.desc"|trans({}, "actions")|raw }}<br />{{ form_widget(form.subject) }}

	<h4>{{ "personal.soldierfood.text.name"|trans({}, "actions") }}</h4>
	{{ "personal.soldierfood.text.desc"|trans({}, "actions")|raw }}<br />{{ form_widget(form.text) }}

	<h4>{{ "personal.soldierfood.details.name"|trans({}, "actions") }}</h4>
	{{ "personal.soldierfood.text.desc"|trans({}, "actions")|raw }}<br />
	{{ form_widget(form.target) }}<br />
	{{ form_widget(form.limit) }}<br />
	{{ form_widget(form.expires) }}

<br /><br />{{ form_end(form) }}
</div>

{% endblock %}
