{% extends app.request.isXmlHttpRequest ? "BM2SiteBundle::ajax.html.twig" : "BM2SiteBundle::layout.html.twig" %}

{% block content %}
<h2>{{ position.name }} ({{ link(position.realm) }})</h2>

<dl class="wide">
	<dt>{{ 'position.description'|trans({}, "politics") }}</dt>
	<dd>{{ position.description }}</dd>

	<dt>{{ 'position.permissions'|trans({}, "politics") }}</dt>
	<dd><ul class="shortlist">
		{% for perm in position.permissions %}
			{{ perm.translationstring|trans({},"politics") }}
		{% endfor %}
	</ul>&nbsp;</dd>

	<dt>{{ 'position.elected'|trans({}, "politics") }}</dt>
	<dd>{% if position.elected %}{{ 'yes'|trans }}{% else %}{{ 'no'|trans }}{% endif %}</dd>

	<dt>{{ 'position.inherit'|trans({}, "politics") }}</dt>
	<dd>{% if position.inherit %}{{ 'yes'|trans }}{% else %}{{ 'no'|trans }}{% endif %}</dd>

	<dt>{{ 'position.term'|trans({}, "politics") }}</dt>
	<dd>
		{{ ('position.terms.'~position.term)|trans({}, "politics") }}
	</dd>
</dl>
{% endblock %}
