{{ 'welcome.hello'|trans({'%name%': applicant.name}) }}
<br />
<p>{{ 'welcome.text'|trans }}</p>
<p>{{ 'welcome.password'|trans({'%pass%': password}) }}</p>
<p>{{ 'welcome.url'|trans({'%url%': url('bm2_login')}) }}</p>
<p>{{ 'welcome.footer'|trans }}</p>
