{% extends "layout.html.twig" %}

{% block content %}
	{% if character.actions is not empty %}
	<div class="queue">
		<h3>{{ "queue.title"|trans({}, "actions")|title }}</h3>
		<ol>
		{% for action in character.actions %}
			{% if action.hidden == false %}
				<li>{{ ("queue."~action.type)|trans({}, "actions") }}</li>
			{% endif %}
		{% endfor %}
		</ol>
		<hr />
		<div class="center">
			<a href="{{ path('bm2_site_queue_manage') }}">{{ 'queue.manage'|trans({}, "actions") }}</a>
		</div>
	</div>
	{% endif %}
	<h1>{{ pagetitle|raw }}</h1>
	<button id="style">{{ 'togglelist'|trans }}</button>
	<div id="actionlist" class="boxlist">
	{% include "element/linklist.html.twig" with {"list":dispatcher.personalActions, "domain":'actions'} only %}
	{% include "element/linklist.html.twig" with {"list":dispatcher.interActions, "domain":'actions'} only %}
	{% include "element/linklist.html.twig" with {"list":activityDispatcher.activityActions, "domain":'activity'} only %}
	{% if character.insidePlace %}
		{% include "element/linklist.html.twig" with {"list":dispatcher.placeActions(character.insidePlace), "domain":'places'} only %}
	{% endif %}
	{% if siege %}
		{% include "element/linklist.html.twig" with {"list":dispatcher.siegeActions, "domain":'actions'} only %}
	{% endif %}
	{% include "element/linklist.html.twig" with {"list":dispatcher.militaryActions, "domain":'actions'} only %}
	{% include "element/linklist.html.twig" with {"list":dispatcher.buildingActions, "domain":'actions'} only %}
	{% include "element/linklist.html.twig" with {"list":dispatcher.controlActions, "domain":'actions'} only %}
	{% include "element/linklist.html.twig" with {"list":dispatcher.economyActions, "domain":'actions'} only %}
	{% include "element/linklist.html.twig" with {"list":unitDispatcher.recruitActions, "domain":'actions'} only %}
	</div>
	<br class="clear"/>
{% endblock %}

{% block jquery %}
var box = true;
$("#style").click(function(){
	box = !box;
	if (box) {
		$("#actionlist").removeClass("linklist").addClass("boxlist");
	} else {
		$("#actionlist").removeClass("boxlist").addClass("linklist");
	}
});
{% endblock %}
