{% extends "layout.html.twig" %}

{# This macro builds the table rows for each character on the list. If you want to change the rows, change the logic in the table.
Table headers are handled as translation strings from the character.list database entry. #}
{% macro characterrow(character, locked, canSpawn) %}
<tr class="characterrow">
	{% if character.alive and not character.npc and character.location and not character.retired %}
		<td class="editable edit-list" data-id="{{ character.id }}" data-name="{{ character.name }}" data-list="{{ character.list }}"><img src="{{ asset('bundles/bm2site/images/nametag.svg') }}" title="{{ 'account.list'|trans }}"/></td>
	{% else %}
		<td></td>
	{% endif %}
	<td>{{ character_link(character.id, character.name) }}</td>
	{% if locked %}
		<td colspan="6">
			<img src="{{ asset('bundles/bm2site/images/lock.svg') }}" alt="{{ 'locked'|trans }}" title="{{ 'locked'|trans }}" height="20px" />
		</td>
	{% elseif character.battling %}
		<td colspan="6">
			<center><i>{{ 'battling'|trans }}</i></center>
		</td>
	{% elseif character.alive and not character.location and not character.retired %}
		<td>
			<!-- Status icon would normally be here. -->
		</td>
		<td>
			<!-- Location would normally be here. -->
		</td>
		<td>
			<!-- Status would normally be here. -->
		</td>
		<td>
			<!-- Unread message count would normally be here. -->
		</td>
		<td>
			<a href="{{ path('bm2_play', {'id': character.id, 'logic': 'newbackground'}) }}">{{ 'account.edithistory'|trans }}</a>
		</td>
		<td>
			{% if canSpawn %}<a href="{{ path('bm2_play', {'id': character.id, 'logic': 'placenew'}) }}">{{ 'account.place'|trans }}</a>{% endif %}
		</td>
	{% elseif character.alive and character.location %}
		<td>
			{% if character.slumbering %}
				<img src="{{ asset('bundles/bm2site/images/zzz.png') }}" alt="{{ 'inactive'|trans }}" title="{{ 'inactive'|trans }}" height="16px" />
			{% elseif character.prisoner %}
				<img src="{{ asset('bundles/bm2site/images/nicubunu_chain.svg') }}" alt="{{ 'prisonerof'|trans({"%captor%":character.prisoner.name}) }}" title="{{ 'prisonerof'|trans({"%captor%":character.prisoner.name}) }}" height="16px" />
			{% endif %}
		</td>
		<td>
			{% if character.location %}
				{% if character.at_settlement %}
					{{ character.location }}
				{% elseif character.at_sea %}
					{{ 'atsea'|trans }}
				{% else %}
					{{ 'settlement.area'|trans({'%name%':character.location}) }}
				{% endif %}
			{% else %}
				-
			{% endif %}
		</td>
		<td>
			{% if character.prebattle %}
				{{ 'charstatus.prebattle'|trans }}
			{% elseif character.sieging %}
				{{ 'charstatus.sieging'|trans }}
			{% elseif character.annexing %}
				{{ 'charstatus.annexing'|trans }}
			{% elseif character.supporting %}
				{{ 'charstatus.supporting'|trans }}
			{% elseif character.opposing %}
				{{ 'charstatus.opposing'|trans }}
			{% elseif character.looting %}
				{{ 'charstatus.looting'|trans }}
			{% elseif character.blocking %}
				{{ 'charstatus.blocking'|trans }}
			{% elseif character.granting %}
				{{ 'charstatus.granting'|trans }}
			{% elseif character.renaming %}
				{{ 'charstatus.renaming'|trans }}
			{% elseif character.reclaiming %}
				{{ 'charstatus.reclaiming'|trans }}
			{% else %}{% if character.travel %}
					{# So, this nested if is done so that if nothing else, this field ends up blank. --Andrew #}
					{{ 'charstatus.travelling'|trans }}
				{% endif %}
			{% endif %}
		</td>
		<td align="center">
			{% if character.unread > 0 %}{{ "newmessages"|transchoice(character.unread, {"%number%":character.unread}) }}{% endif %}
			{% if character.unread > 0 and character.requests > 0 %} | {% endif %}
			{% if character.requests > 0 %}{{ "requests"|transchoice(character.requests, {"%number%":character.requests}) }}{% endif %}
		</td>
		<td align="right">
			{% if character.events > 0 %}{{ "newevents"|transchoice(character.events, {"%number%":character.events}) }}{% endif %}
		</td>
		<td>
			<a href="{{ path('bm2_play', {'id': character.id, 'logic': 'play'}) }}">{{ 'account.play'|trans }}</a>
		</td>
	{% elseif not character.location and character.alive and character.retired %}
		<td>
			<!-- Status icon would normally be here. -->
		</td>
		<td>
			<!-- Location would normally be here. -->
		</td>
		<td>
			<!-- Status would normally be here. -->
		</td>
		<td>
			<!-- Unread message count would normally be here. -->
		</td>
		<td>
			<a href="{{ path('bm2_play', {'id': character.id, 'logic': 'edithist'}) }}">{{ 'account.edithistory'|trans }}</a>
		</td>
		{% if character.unretirable %}
			<td>
				<a href="{{ path('bm2_play', {'id': character.id, 'logic': 'unretire'}) }}">{{ 'account.unretire'|trans }}</a>
			</td>
		{% else %}
			<td>
				<!-- Play button would normally be here. -->
			</td>
		{% endif %}
	{% elseif character.alive == false and character.location != null %}
		<td colspan="4">
			<img src="{{ asset('bundles/bm2site/images/cybergedeon_skull.svg') }}" alt="{{ 'dead'|trans }}" title="{{ 'dead'|trans }}" height="16px" />
		</td>
		<td colspan="2">
			<center><i>Awaiting Turn Processing</i></center>
		</td>
	{% else %}
		<td colspan="4">
			<img src="{{ asset('bundles/bm2site/images/cybergedeon_skull.svg') }}" alt="{{ 'dead'|trans }}" title="{{ 'dead'|trans }}" height="16px" />
		</td>
		<td>
			{% if character.log %}
				<a href="{{ path('bm2_play', {'id': character.id, 'logic': 'edithist'}) }}">{{ 'account.edithistory'|trans }}</a>
			{% endif %}
		</td>
		<td>
			{% if character.log %}
				<a href="{{ path('bm2_play', {'id': character.id, 'logic': 'viewhist'}) }}">{{ 'account.viewlog'|trans }}</a>
			{% endif %}
		</td>
	{% endif %}
</tr>
{% endmacro %}

{% import _self as macros %}

{% block content %}
{% if announcements is defined %}
<div class="subcontent_wrapper">
	{# TODO: only show if credits will not be enough to renew #}
	{# FIXME: yellow looks ugly here #}
	<div class="subcontent{% if not enough_credits %}{% if daysleft < 0 %} error{% elseif daysleft < 7 %} warning{% endif %}{% endif %}">
		<p>{{ 'account.payment.credits'|trans({'%amount%':user.credits}) }}</p>
		<p>{{ 'account.sub.short'|trans({"%mylevel%":('account.level.'~user.accountlevel)|trans, "%until%":user.paiduntil|date('dateformat'|trans)})|raw }}</p>
		<ul class="horizontal center">
			<li><a class="actions_link" href="{{ path("bm2_site_payment_subscription") }}">{{ 'account.sub.link'|trans|title }}</a></li>
		</ul>
		<hr />
		<h4>{{ 'account.credits.shop'|trans|title }}</h4>
		<ul class="horizontal">
			<li><a class="actions_link" href="{{ path("bm2_heraldry") }}">{{ 'account.heraldry.link'|trans|title }}</a></li>
			<li><a class="actions_link" href="{{ path("bm2_site_payment_culture") }}">{{ 'account.culture.link'|trans|title }}</a></li>
		</ul>
	</div>
	<div class="subcontent inline_announcements">
		<h2>M&F Version {{ update.version }} - {{ update.ts|date('Y-m-d')}}</h2>
		{{ update.text|markdown|wikilinks }}
		{{ announcements|markdown|wikilinks }}
	</div>
</div>
<div class="maincontent">
{% endif %}
<h2>{{ 'account.characters'|trans }}</h2>

<div id="actionlist" class="boxlist">
	{% if characters|length > 1 %}
		{% set elements = {
			0:{"name":"newcharacter.title", "url":"bm2_newchar", "description":"newcharacter.description"},
			1:{"name":"account.familytree", "url":"bm2_site_account_familytree", "description":"account.famtreedesc"},
			2:{"name":"account.overview.link", "url":"bm2_site_account_overview", "description":"account.overview.desc"}
		} %}
	{% else %}
		{% set elements = {
			0:{"name":"newcharacter.title", "url":"bm2_newchar", "description":"newcharacter.description"}
		} %}
	{% endif %}
	{% include "element/linklist.html.twig" with {"list":{"elements":elements}, "domain":'messages'} only %}
</div>

<br style="clear:left"/>

{% if locked %}
	<p>{{ 'account.locked'|trans }}</p>
{% endif %}
{% if characters is empty %}
	<p><em>{{ 'account.nocharacters'|trans }}</em></p>
{% else %}
	{% if user.restricted %}
		<div class="warning leftmain">{{ 'account.abovelimit'|trans }}</div>
	{% endif %}
	{# FIXME: instead of hardcoded, should depend on character count, like NPCs #}
	<table class="leftmain">
	{% set current_list = 999999 %}
	{% for character in characters %}
		{% if character.list != current_list %}
			<tr>
				<th colspan="7" class="topspace">
					{{ ('character.list.'~character.list)|trans }}
				</th>
			</tr>
			{% set current_list = character.list %}
		{% endif %}
		{{ macros.characterrow(character, locked, canSpawn) }}
	{% endfor %}
	</table>

	{% if npcs is not empty %}
		<table class="leftmain">
		<tr>
			<th colspan="7" class="topspace">
				{{ 'bandits.title'|trans }}
			</th>
		</tr>
		{% for character in npcs %}
			{{ macros.characterrow(character, locked) }}
		{% endfor %}
		</table>
	{% endif %}


{% endif %}
{% if announcements is defined %}
</div>
{% endif %}
<div id="list_selector">
	{{ form(list_form) }}
</div>

<br class="clear" />

{% endblock %}

{% block jquery %}
$("#list_selector").dialog({
	autoOpen: false,
	position: { my: "center top", at: "center bottom", of: $("#symfony-header") }
});

$(".edit-list").click(function(){
	$("#list_"+$(this).data("list")).prop("checked", true);
	$("#list_selector").dialog("option", "position", { my: "left top", at: "right bottom", of: $(this) } );
	$("#list_selector").dialog("option", "title", $(this).data("name"));
	$("#listselect_char").val($(this).data("id"));
	$("#list_selector").dialog("open");
});

$("#listselect_submit").click(function(event){
	event.preventDefault();
	var char = $("#listselect_char").val();
	var list = $("#listselect input[type=radio]:checked").val();
	var token = $("#listselect__token").val();
	console.log(char);
	console.log(list);
	console.log(token);
	$.post("{{ path('bm2_site_account_listset') }}", { "listselect[char]":char, "listselect[list]": list, "listselect[_token]": token }, function(data) {
		console.log(data);
		/* TODO: visual feedback? */
		var edit = $(".edit-list[data-id="+char+"]");
		console.log(edit);
		edit.html("<img src=\"{{ asset('bundles/bm2site/images/sivvus_tools.svg') }}\" title=\"{{ 'character.list.updated'|trans }}\" />").removeClass("editable").removeClass("edit-list");
		$("#list_selector").dialog("close");
	});
});

/*
$(".edit-list").click(function(){
	var id = $(this).data('id');
	var list = $(this).data('list');

	$.post('{{ path('bm2_site_account_listtoggle') }}', { "id": id });

	if (list==1) {
		$(this).html('<img src="{{ asset('bundles/bm2site/images/marker-small-blue.png') }}"/>');
	} else {
		$(this).html('<img src="{{ asset('bundles/bm2site/images/marker-small-red.png') }}"/>');
	}
});
*/
{% endblock %}
