{% extends "BM2SiteBundle::layout.html.twig" %}

{% block content %}
<h2>{{ "building.lendantower.name"|trans({},"actions")|title }}</h2>
<p>{{ "building.lendantower.intro"|trans({"%settlement%":link(settlement)},"actions")|raw }}</p>

<h3>{{ "building.lendantower.link.name"|trans({},"actions")|title }}</h3>
<p>{{ "building.lendantower.link.intro"|trans({"%max%":max_links},"actions")|raw }}</p>
<p>
{% if can_link %}
	<form method="post" action="{{ path('bm2_createtowerlink', {'tower':settlement.id}) }}">
		<button type="submit">{{ "building.lendantower.link.create"|trans({},"actions") }}</button>
	</form>
{% elseif linked_towers.contains(settlement) %}
	{{ "building.lendantower.link.already"|trans({},"actions") }}
	<form method="post" action="{{ path('bm2_removetowerlink', {'tower':settlement.id}) }}">
		<button type="submit">{{ "building.lendantower.link.remove"|trans({},"actions") }}</button>
	</form>
{% else %}
	{{ "building.lendantower.link.max"|trans({"%url%":path('bm2_msg_links')},"actions")|raw }}
{% endif %}
</p>

{% if settlement.realm %}
<h3>show broadcast network from here</h3>
<a href="{{ path('bm2_msg_network', {'settlement':settlement.id}) }}">show</a>
{% endif %}

<h3>{{ "building.lendantower.groups.name"|trans({},"actions")|title }}</h3>

<h4>{{ "building.lendantower.groups.join"|trans({},"actions")|title }}</h4>
<p>{{ "building.lendantower.groups.intro"|trans({},"actions")|raw }}</p>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Members</th>
			<th>Owners</th>
			<th>Towers</th>
		</tr>
	</thead>
	<tbody>
		{% for group in open_groups %}
		<tr>
			<td>{{ group.name }}</td>
			<td align="right">{{ group.members.count }}</td>
			<td align="right">{{ group.owners.count }}</td>
			<td>
				<ul class="shortlist">
				{% for tower in group.towers %}
					<li>{{ link(tower) }}</li>
				{% endfor %}
				</ul>
			</td>
			<td>
				{% if group.members.contains(character) %}
					(you are a member)
				{% else %}
				<form method="post" action="{{ path('bm2_msg_joingroup', {'group':group.id}) }}">
					<button type="submit" class="join_group" data-id="{{ group.id }}">join group</button>
				</form>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if owned_groups is not empty %}
<h4>{{ "building.lendantower.groups.link"|trans({},"actions")|title }}</h4>
<ul>
{% for group in owned_groups %}
	<li>
		{{ group.name }}
		{% if group.towers.contains(settlement) %}
			TODO: break link
		{% else %}
			TODO: create link (10 gold)
		{% endif %}
	</li>
{% endfor %}
</ul>
{% endif %}

<h4>{{ "building.lendantower.groups.create"|trans({},"actions")|title }}</h4>
(cost: 100 gold after testing phase)
{{ form(group_form) }}

{% endblock %}
