{% extends "layout.html.twig" %}

{% block content %}
<h2>{{ 'realm.abolish.name'|trans({"%name%":realm.name},"politics")|title }}</h2>
<p>{{ 'realm.abolish.intro'|trans({"%name%":realm.name},"politics")|raw }}</p>
	<form class="wide" action="{{ path('bm2_site_realm_abolish', {'realm':realm.id}) }}" method="post"
		{{ form_widget(form) }}
		<button name="submit">{{ 'buttons.submit'|trans({},"places") }}</button>
	</form>

{% endblock %}
