{% extends "layout.html.twig" %}

{% block content %}
<h2>{{ 'realm.laws.name'|trans({"%name%":realm.name},"politics")|title }}</h2>

<table class="laws">
	<thead>
		<tr>
			<th>{{ ('law.header.name')|trans({},"politics") }}</th>
			<th>{{ ('law.header.desc')|trans({},"politics") }}</th>
			<th>{{ ('law.header.current')|trans({},"politics") }}</th>
		</tr>
	</thead>
	<tbody>
	{% for law in laws %}
	<tr>
		<th>{{ ('law.label.'~law.name)|trans({},"politics") }}</th>
		<td><small>{{ ('law.desc.'~law.name)|trans({},"politics") }}</small></td>
		<td>
			{% if law.valueboolean is not null %}
				{% if law.valueboolean %}
					{{ ('law.value.enabled')|trans({},"politics") }}
				{% else %}
					{{ ('law.value.disabled')|trans({},"politics") }}
				{% endif %}
			{% elseif law.valuestring is not null %}
				<b>{{ ('law.value.name.'~law.valuestring)|trans({},"politics") }}</b><br />
				<small>{{ ('law.value.desc.'~law.valuestring)|trans({},"politics") }}</small><br />
			{% else %}
				{{ law.valueinteger }}
			{% endif %}
		</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}
