{% extends "layout.html.twig" %}

{% block content %}
<h2>{{ 'diplomacy.report.between'|trans({"%myrealm%":link(myrealm), "%targetrealm%":link(targetrealm)},"politics")|raw }}</h2>

<h3>{{ 'diplomacy.report.position'|trans({"%realm%":link(myrealm)},"politics")|raw }}</h3>
{% if we_to_them %}
	<dl class="wide">
		<dt>{{ 'diplomacy.status.name'|trans({},"politics") }}</dt>
		<dd>{{ ('diplomacy.status.'~we_to_them.status)|trans({},"politics") }}</dd>
		<dt>{{ 'diplomacy.relations.public'|trans({},"politics") }}</dt>
		<dd>{{ we_to_them.public|markdown }}</dd>
		{% if member_of_source %}
			<dt>{{ 'diplomacy.relations.internal'|trans({},"politics") }}</dt>
			<dd>{{ we_to_them.internal|markdown }}</dd>
		{% endif %}
		{% if member_of_target %}
			<dt>{{ 'diplomacy.relations.delivered'|trans({},"politics") }}</dt>
			<dd>{{ we_to_them.delivered|markdown }}</dd>
		{% endif %}
	</dl>
{% else %}
	<i>{{ 'diplomacy.report.undefined'|trans({},"politics") }}</i>
{% endif %}


<h3>{{ 'diplomacy.report.position'|trans({"%realm%":link(targetrealm)},"politics")|raw }}</h3>
{% if they_to_us %}
	<dl class="wide">
		<dt>{{ 'diplomacy.status.name'|trans({},"politics") }}</dt>
		<dd>{{ ('diplomacy.status.'~they_to_us.status)|trans({},"politics") }}</dd>
		<dt>{{ 'diplomacy.relations.public'|trans({},"politics") }}</dt>
		<dd>{{ they_to_us.public|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><blockquote>')|wikilinks }}</dd>
		{% if member_of_target %}
			<dt>{{ 'diplomacy.relations.internal'|trans({},"politics") }}</dt>
			<dd>{{ they_to_us.internal|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><blockquote>')|wikilinks }}</dd>
		{% endif %}
		{% if member_of_source %}
			<dt>{{ 'diplomacy.relations.delivered'|trans({},"politics") }}</dt>
			<dd>{{ they_to_us.delivered|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><blockquote>')|wikilinks }}</dd>
		{% endif %}
	</dl>
{% else %}
	<i>{{ 'diplomacy.report.undefined'|trans({},"politics") }}</i>
{% endif %}


{% endblock %}
