{% extends app.request.isXmlHttpRequest ? "plain.html.twig" : "layout.html.twig" %}

{% block content %}
<h3>{{ 'estate'|transchoice(settlements|length)|title }}</h3>
<table id="estates">
	<thead>
		<tr>
			<th>{{ 'settlement.name'|trans|title }}</th>
			<th>{{ 'settlement.owner'|trans|title }}</th>
			<th>{{ 'settlement.realm2'|trans|title }}</th>
			<th>{{ 'settlement.ultimate'|trans|title }}</th>
			<th>{{ 'settlement.occupation'|trans|title }}</th>
			<th>{{ 'settlement.size.name'|trans|title }}</th>
			<th>{{ 'settlement.population'|trans|title }}</th>
			<th>{{ 'settlement.civilians'|trans|title }}</th>
			<th>{{ 'settlement.thralls'|trans|title }}</th>
			<th>{{ 'settlement.pop.change'|trans|title }}</th>
			<th>{{ 'settlement.militia2'|trans|title }}</th>
			<th>{{ 'settlement.recruits2'|trans|title }}</th>
			<th>{{ 'settlement.build'|trans|title }}</th>
		</tr>
	</thead>
	<tbody>
		{% for settlement in settlements %}
			<tr>
				<td>{{ settlement_link(settlement.id, settlement.name) }}</td>
				<td>{% if settlement.owner %}{{ character_link(settlement.owner.id, settlement.owner.name) }}{% else %}({{ 'none'|trans }}){% endif %}</td>
				<td>{% if settlement.realm is not null and settlement.realm %}{{ realm_link(settlement.realm.id, settlement.realm.name) }}{% endif %}</td>
				<td>{% if settlement.ultimate is not null and settlement.ultimate %}{{ realm_link(settlement.ultimate.id, settlement.ultimate.name) }}{% endif %}</td>
			<td>{% if settlement.occupant or settlement.occupier %}{% if settlement.occupant %}{{ character_link(settlement.occupant.id, settlement.occupant.name) }}{% endif %} / {% if settlement.occupier %}{{ realm_link(settlement.occupier.id, settlement.occupier.name) }}{% else %}({{ 'none'|trans }}){% endif %}{% endif %}</td>
				<td>{{ ('settlement.size.'~settlement.size)|trans }}</td>
				<td align="right">{{ settlement.pop }}</td>
				<td align="right">{{ settlement.peasants }}</td>
				<td align="right">{{ settlement.thralls }}</td>
				<td>
					{% if settlement.popchange/settlement.pop > 0.1 %}
						{{ ('settlement.pop.grow.3')|trans }}
					{% elseif settlement.popchange/settlement.pop > 0.05 %}
						{{ ('settlement.pop.grow.2')|trans }}
					{% elseif settlement.popchange/settlement.pop > 0.01 %}
						{{ ('settlement.pop.grow.1')|trans }}
					{% elseif settlement.popchange/settlement.pop < - 0.1 %}
						{{ ('settlement.pop.shrink.4')|trans }}
					{% elseif settlement.popchange/settlement.pop < - 0.05 %}
						{{ ('settlement.pop.shrink.3')|trans }}
					{% elseif settlement.popchange/settlement.pop < - 0.02 %}
						{{ ('settlement.pop.shrink.2')|trans }}
					{% elseif settlement.popchange/settlement.pop < - 0.01 %}
						{{ ('settlement.pop.shrink.1')|trans }}
					{% else %}
						{{ ('settlement.pop.stable')|trans }}
					{% endif %}
				</td>
				<td align="right">{{ settlement.militia }}</td>
				<td align="right">{{ settlement.recruits }}</td>
				<td>
					<ul class="shortlist">
						{% for build in settlement.build %}
							<li>{{ building_link(build.id, build.name) }}</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% if not app.request.isXmlHttpRequest %}
	&nbsp;<ul id="loadlist" class="shortlist" style="display:inline"></ul>

	<div id="map" style="min-width:40em;min-height:30em;"></div>
{% endif %}


{% endblock %}

{% if not app.request.isXmlHttpRequest %}
	{% block includes %}
		{{ parent() }}
		<script src="{{ asset('bundles/bm2site/tablesorter/jquery.tablesorter.min.js') }}"></script>
		<script src="{{ asset('bundles/bm2site/tablesorter/parsers/parser-input-select.js') }}"></script>
		<script src="{{ asset('bundles/bm2site/map/OpenLayers.js') }}"></script>
		<script src="{{ asset('bundles/bm2site/map/map.js') }}"></script>
	{% endblock %}
	{% block jquery %}
		$("#estates").tablesorter({
			sortList: [[0,0]],
		});
		{% include "element/mapstrings.js.twig" %}
		mapinit('map', false, false, false);
		addoutline('{{ poly }}', '#cccc20', 3, '#cccc20', 0.4);
	{% endblock %}
{% endif %}
