{% extends "layout.html.twig" %}

{% block content %}
	<h2>{{ 'character.title'|trans({},"settings")|title }}</h2>
	<p>{{ 'character.description'|trans({},"settings")|raw }}</p>

<form id="charactersettings" class="wide" action="{{ path('bm2_site_character_settings') }}" method="post" {{ form_start(form) }}
	{{ form_errors(form) }}
	{{ form_widget(form._token) }}
	{{ form_row (form.auto_read_realms) }}<br><br>
	{{ form_row (form.non_hetero_options) }}<br><br>
	{{ form_row (form.submit) }}
</form>

{% endblock %}
