{% extends "layout.html.twig" %}

{% block includes %}
	{{ parent() }}
	<script src="{{ asset('bundles/bm2site/tablesorter/jquery.tablesorter.min.js') }}"></script>
{% endblock %}

{% block content %}
<div class="meta">
	{% include "element/linklist.html.twig" with {"list":dispatcher.metaActions, "domain":'actions'} only %}
</div>
{% if character.actions is not empty %}
<div class="queue secondary">
	<h3>{{ "queue.title"|trans({}, "actions")|title }}</h3>
	<ol>
	{% for action in character.actions %}
		{% if action.hidden == false %}
			<li>{{ ("queue."~action.type)|trans({}, "actions") }}</li>
		{% endif %}
	{% endfor %}
	</ol>
	<hr />
	<div class="center">
		<a href="{{ path('bm2_site_queue_manage') }}">{{ 'queue.manage'|trans({}, "actions") }}</a>
	</div>
</div>
{% endif %}

<h2>{{ 'summary.title'|trans|title }}</h2>
{% if character.prisoner %}
	<p class="inactive">
		<img src="{{ asset('bundles/bm2site/images/nicubunu_chain.svg') }}" alt="{{ 'prisoner'|trans }}" height="16px" align="bottom" />
		{{ 'character.prisoner2'|trans({"%captor%":link(character.prisonerof)})|raw }}
		<img src="{{ asset('bundles/bm2site/images/nicubunu_chain.svg') }}" alt="{{ 'prisoner'|trans }}" height="16px" align="bottom" />
	</p>
	{% if character.prisonerof.slumbering == true %}
	<p>
		{{ 'character.captorinactive'|trans({"%url%":path('bm2_site_character_escape')})|raw }}
	</p>
	{% endif %}
{% endif %}
{% if character.healthvalue < 0.9 %}
	{{ ('character.health.'~character.healthstatus)|trans }}
{% endif %}

<h3>{{ 'summary.events'|trans|title }}</h3>
{% set has_events = false %}
<table id="eventlog" class="eventlog">
	<thead></thead>
	<tbody>
	{% for event in events %}
		{% set has_events = true %}
		<tr class="prio_{{ event.priority }}">
			<td>{{ event.cycle|gametime('short') }}</td>
			<td>{{ link(event.log) }}</td>
			<td>{{ event|eventtranslate }}</td>
		</tr>
	{% else %}
		<tr><td colspan="3">{{ 'summary.nothing'|trans }}</td></tr>
	{% endfor %}
	</tbody>
</table>
{% if has_events %}{# testing count or length would be better, but it doesn't work due to some code-fuckup I can't be arsed with debugging #}
	<div id="fullread_wrapper">
		<button id="fullread">{{ 'summary.fullread'|trans }}</button>
		<button style="margin-left: 3em" id="fullread2">{{ 'summary.fullread2'|trans }}</button>
	</div>
{% endif %}

<h3>{{ 'personal.requests.summary.title'|trans({}, "actions")|title }}</h3>
{% if requests|length < 1 %}
	{{ 'personal.requests.summary.none'|trans({}, "actions")|raw }}
{% else %}
	{{ 'personal.requests.summary.pending'|trans({}, "actions")|raw }} <a href="{{ path('bm2_gamerequest_manage') }}">{{ 'personal.requests.summary.some'|transchoice(requests|length, {"%i%":requests|length}, "actions")}}</a>
{% endif %}
<h3>{{ 'personal.activities.summary.title'|trans({}, "actions")|title }}</h3>
{% if duels|length < 1 %}
	{{ 'personal.activities.duels.none'|trans({}, "actions")|raw }}
{% else %}
	{{ 'personal.activities.duels.pending'|trans({}, "actions")|raw }} <a href="{{ path('maf_activity_duel_answer') }}">{{ 'personal.activities.duels.some'|transchoice(requests|length, {"%i%":duels|length}, "actions")}}</a>
{% endif %}
<h3>{{ 'unread.title'|trans({}, "conversations")|title }}</h3>
{% include "Conversation/unread_template.html.twig" with {"unread":unread} only %}

{% if others %}
<div id="nearbyothers">
	<h3>{{ 'nearbyothers'|trans|title }} (old system) <button id="expandscouting">{{ 'expand'|trans }}</button></h3>
	<ul>
	{% for other in others %}
		<li>{{ link(other.character) }} (
			{% if other.character.prisonerof %}
				{{ 'prisonerof'|trans({'%captor%':link(other.character.prisonerof)})|raw }}
			{% else %}
				{{ other.distance|distance(true) }}
				{% if other.character.insidesettlement %}
					, {{ 'inside'|trans({'%settlement%':link(other.character.insidesettlement)})|raw }}
				{% endif %}
			{% endif %}
		)</li>
	{% endfor %}
	</ul>
</div>
{% endif %}

{% if spottings %}
<div id="nearbyothers">
	<h3>{{ 'nearbyothers'|trans|title }} (new system)</h3>
	<ul>
	{% for spot in spottings %}
		<li>{{ link(spot.target) }}
			{% if spot.target.insidesettlement %}
				, {{ 'inside'|trans({'%settlement%':link(spot.target.insidesettlement)})|raw }}
			{% endif %}
			{% if spot.target.prisonerof %}
				, {{ 'prisonerof'|trans({'%captor%':link(spot.target.prisonerof)})|raw }}
			{% endif %}
			<small>(spotted by <ul class="shortlist" style="display:inline">
			{% for event in spot.events %}
				<li>
				{% if event.spotter %}
					{% if event.tower %}
						your scouts from tower {{ event.tower.name }}
					{% else %}
						your scouts
					{% endif %}
				{% else %}
					tower {{ event.tower.name }} near {{ link(event.tower.geodata.settlement) }}
				{% endif %}
				</li>
			{% endfor %}
			</ul>)</small>
		</li>
	{% endfor %}
	</ul>
</div>
{% endif %}

{% if character.prisoners is not empty %}
	<h2>{{ 'prisoner'|transchoice(character.prisoners.count)|capitalize }}</h2>
	<ul class="shortlist">
		{% for prisoner in character.prisoners %}
			<li>{{ link(prisoner) }}</li>
		{% endfor %}
	</ul>
	<a href="{{ path('bm2_site_politics_prisoners') }}">{{ 'summary.manageprisoners'|trans }}</a>
{% endif %}

{% if battles %}
	<h3>{{ 'nearbattles'|trans|title }}</h3>
	<ul>
	{% for battle in battles %}
		<li>{{ link(battle.battle) }} ({{ battle.distance|distance(true) }}, {{ battle.direction|direction(true)|trans }})</li>
	{% endfor %}
	</ul>
{% endif %}

{% if character.dungeoneer and character.dungeoneer.isindungeon %}
	<h3>{{ 'dungeon.title'|trans({}, "dungeons")|title }}</h3>
	<p>{{ 'dungeon.blabla'|trans({}, "dungeons") }}</p>
	<p><a href="{{ path('bm2_dungeon_dungeon_index') }}">{{ 'dungeon.link'|trans({}, "dungeons") }}</a></p>
{% elseif character.dungeoneer and character.dungeoneer.party %}
	<h3>{{ 'dungeon.title'|trans({}, "dungeons")|title }}</h3>
	<p>{{ 'dungeon.withparty'|trans({"%url%":path("dungeons_party")}, "dungeons")|raw }}</p>
{% elseif dungeons %}
	<h3>{{ 'nearby'|trans({}, "dungeons")|title }}</h3>
	{% set actionable = false %}
	<ul>
	{% for dungeon in dungeons %}
		{% if dungeon.distance < 10000 %}
			{% set dir = dungeon.direction|direction(true)|trans %}
		{% else %}
			{% set dir = dungeon.direction|direction(true, true)|trans %}
		{% endif %}
		{% set data = {
				"%area%":('area.'~dungeon.dungeon.area)|trans({}, "dungeons"),
				"%distance%":dungeon.distance|distance(true),
				"%direction%":dir
			}
		%}
		{% if dungeon.distance < spotrange %}
			<li>
				{{ 'spotted'|trans(data, "dungeons") }}
				{% if dungeon.distance < actrange %}
					{% set actionable = true %}
				{% endif %}
			</li>
		{% elseif dungeon.distance < 10000 %} {# FIXME: hardcoded for now #}
			<li>{{ 'close'|trans(data, "dungeons") }}</li>
		{% else %}
			<li>{{ 'far'|trans(data, "dungeons") }}</li>
		{% endif %}
	{% endfor %}
	</ul>
	{% if actionable %}
		<a href="{{ path('bm2_dungeons') }}">{{ 'enter.link'|trans({}, "dungeons") }}</a>
	{% endif %}
{% endif %}

{% endblock %}

{% block jquery %}
	$("#fullread").click(function(){
		$.post("{{ path('bm2_site_events_fullread', {"which":"me"}) }}", function() {
			$("#fullread").replaceWith('<div class="success">{{ "events.alldone2"|trans }}</div>');
		});
	});
	$("#fullread2").click(function(){
		$.post("{{ path('bm2_site_events_fullread', {"which":"all"}) }}", function() {
			$("#fullread_wrapper").replaceWith('<div class="success">{{ "events.alldone"|trans }}</div>');
		});
	});

	$("#expandscouting").click(function(){
		$("#expandscouting").parent().after('<img src="{{ asset('bundles/bm2site/images/loader.png') }}"/>');
		$("#expandscouting").remove();
		$.get("{{ path('bm2_scouting') }}", function(data) {
			$("#nearbyothers").replaceWith(data);
			$("#scouting").tablesorter({
				sortList: [[0,0]],
			});
		});
	});

	$("#eventlog").tablesorter({
		sortList: [[1,0,0], [0,0,0]],
	});
{% endblock %}
