{% extends app.request.isXmlHttpRequest ? "ajax.html.twig" : "layout.html.twig" %}

{% macro others(char) %}
	{% if char.crest %}
		<div class="heraldry">
			<img src="{{ path("bm2_site_heraldry_crest", {"id":char.crest.id}) }}"/>
		</div>
	{% endif %}
	{% if not app.request.isXmlHttpRequest and char.user.vipstatus > 0 %}
	<div class="vip">
		{% if char.user.vipstatus == 30 %}
			<a href="{{ path("bm2_vips") }}"><img src="{{ asset('bundles/bm2site/images/vip-immortal.png') }}"/></a>
		{% elseif char.user.vipstatus == 20 %}
			<a href="{{ path("bm2_vips") }}"><img src="{{ asset('bundles/bm2site/images/vip-legend.png') }}"/></a>
		{% else %}
			<a href="{{ path("bm2_vips") }}"><img src="{{ asset('bundles/bm2site/images/vip-hero.png') }}"/></a>
		{% endif %}
	</div>
	{% endif %}
{% endmacro %}

{% macro history(char, classes) %}
	<div class="{{ classes }}">
		<h3>{{ 'character.history'|trans|title }}</h3>
		<dl>
		{# FIXME: this can get very long - cut it after x entries and display a "show full history" link? #}
		{% for event in char.log.events if event.public %}
			<dt>{{ event.cycle|gametime('short') }}</dt>
			<dd>{{ event|eventtranslate }}</dd>
		{% endfor %}
		</dl>
	</div>
{% endmacro %}


{% import _self as macros %}

{% block includes %}
	{{ parent() }}
	<script src="{{ asset('bundles/bm2site/js/flot/jquery.flot.min.js') }}"></script>
	<script src="{{ asset('bundles/bm2site/js/flot/jquery.flot.categories.js') }}"></script>
{% endblock %}


{% block content %}
{% if app.request.isXmlHttpRequest %}
	<a class="full" href="{{ path("bm2_site_character_view", {'id':char.id}) }}">{{ 'character.full'|trans }}</a>
	{% if char.crest %}
		<div class="heraldry">
			<img src="{{ path("bm2_site_heraldry_crest", {"id":char.crest.id}) }}"/>
		</div>
	{% endif %}
{% else %}
	{% if char.npc %}
		{{ macros.history(char, "queue") }}
	{% else %}
		{% if char.achievements is not empty %}
			<div class="meta">
				<h2 class="clear">{{ 'achievements.title'|trans|title }}</h2>
				<dl class="rightvalues">
				{% for achievement in char.achievements %}
					<dt>{{ ('achievements.type.'~achievement.type)|trans }}</dt>
					<dd>{{ achievement.value }}</dd>
				{% endfor %}
				</dl>
			</div>
			{{ macros.others(char) }}
			{{ macros.history(char, "queue secondary") }}
		{% else %}
			{{ macros.history(char, "queue") }}
			{{ macros.others(char) }}
		{% endif %}
	{% endif %}
{% endif %}

<h2>{{ char.purename }}
	{% if char.male %}♂{% else %}♀{% endif %}
	{% if not char.alive %}
		<img src="{{ asset('bundles/bm2site/images/cybergedeon_skull.svg') }}" alt="{{ 'dead'|trans }}" height="24px" align="bottom" />
	{% endif %}
	{% if char.user and (char.user.public or is_granted('ROLE_OLYMPUS') ) %}
		<a href="{{ path("maf_user", {"user": char.user.id}) }}"><small><i>({{ 'user.profile.viewable'|trans }})</i></small></a>
	{% endif %}
</h2>
{% if char.knownas %}
	<h3 class="subtitle">{{ 'character.knownas'|trans({'%name%':char.knownas}) }}</h3>
{% endif %}

{% if char.alive and char.slumbering and not char.retired %}
<p class="inactive">
	<img src="{{ asset('bundles/bm2site/images/zzz.png') }}" alt="{{ 'inactive'|trans }}" height="16px" align="bottom" />
	{{ 'character.inactive'|trans }}
	<img src="{{ asset('bundles/bm2site/images/zzz.png') }}" alt="{{ 'inactive'|trans }}" height="16px" align="bottom" />
</p>
{% endif %}
{% if banned %}
<p class="inactive">
	{{ 'character.banned'|trans }}
</p>
{% endif %}
{% if char.prisoner %}
<p class="inactive">
	<img src="{{ asset('bundles/bm2site/images/nicubunu_chain.svg') }}" alt="{{ 'prisoner'|transchoice(1) }}" height="16px" align="bottom" />
	{{ 'character.prisoner'|trans({"%captor%":link(char.prisonerof)})|raw }}
	<img src="{{ asset('bundles/bm2site/images/nicubunu_chain.svg') }}" alt="{{ 'prisoner'|transchoice(1) }}" height="16px" align="bottom" />
</p>
{% endif %}
{% if char.user.newplayer %}
	<p><i>{{ 'character.newplayer'|trans }}</i></p>
{% endif %}

{% if not char.npc %}
	<ul class="traits">
		{% for trait in char.genome|split('',1) %}
			<li class="tt" title="{% if app.request.isXmlHttpRequest %}{{ ('trait.name.'~trait)|trans }} - {% endif %}{% if char.male %}{{ ('trait.description.male.'~trait)|trans }}{% else %}{{ ('trait.description.female.'~trait)|trans }}{% endif %}">
				{% if app.request.isXmlHttpRequest %}
					{{ trait|upper }}
				{% else %}
					{{ ('trait.name.'~trait)|trans }}
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endif %}
{% if char.journals.count > 0 %}
	<i><a href="{{ path("maf_journal_character", {'id':char.id}) }}">{{ 'character.journals'|trans|title }}</a></i>
{% endif %}

{% if char.background.appearance is defined %}
	{{ char.background.appearance|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><blockquote>')|wikilinks }}
{% endif %}
{% if relationship %}
	<h4>{{ 'character.personality'|trans|title }}</h4>
	{{ char.background.personality|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><blockquote>')|wikilinks }}
{% endif %}
{% for parent in char.parents %}
	{% if parent.male %}
		{{ 'character.father'|trans|title }}
	{% else %}
		{{ 'character.mother'|trans|title }}
	{% endif %}:
	{{ link(parent) }}<br />
{% endfor %}

{% if char.children is not empty %}
	<h3>{{ 'character.child'|transchoice(char.children|length)|title }}</h3>
	<ul>
		{% for child in char.children %}
			<li>{{ link(child) }}</li>
		{% endfor %}
	</ul>
{% endif %}

{% if char.hasvisiblepartners %}
	{# FIXME: this also counts non-public relationships #}
	<h3>{{ 'character.partner'|transchoice(char.partnerships|length)|title }}</h3>
	<ul>
		{% for partnership in char.partnerships %}
			{% if partnership.active and partnership.public %}
				<li>{{ ('relation.'~partnership.type)|trans({},"politics") }} {{ link(partnership.getotherpartner(char)) }}</li>
			{% endif %}
		{% endfor %}
	</ul>
{% endif %}

{% if not app.request.isXmlHttpRequest %}
	<a href="{{ path("bm2_site_character_family", {"id":char.id}) }}">{{ 'account.familytree'|trans|title }}</a>
{% endif %}

{% if char.retired or char.alive == false %}
	{% if char.retired and char.background.retirement is defined %}
		<h2>{{ 'meta.background.retirement.name'|trans({},"actions")|title }}</h2>
		{{ char.background.retirement|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><blockquote>')|wikilinks }}
	{% endif %}
	{% if char.alive == false and char.background.death is defined %}
		<h2>{{ 'meta.background.death.name'|trans({},"actions")|title }}</h2>
		{{ char.background.death|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><blockquote>')|wikilinks }}
	{% endif %}
{% elseif char.location is null %}
	<h2>{{ 'character.notstarted.title'|trans|title }}</h2>
	{{ 'character.notstarted.text'|trans }}
{% else %}

	{% if char.npc %}
		<h3>{{ 'npc.is'|trans|title }}</h3>
	{% else %}
		<h2>{{ 'politics.hierarchy'|trans|title }}</h2>
		{% include "element/hierarchy.html.twig" with {"character":char, "who":'other'} only %}

		<h2>{{ 'estate'|transchoice(char.ownedSettlements|length)|title }}</h2>
		<ul>
		{% for settlement in char.ownedSettlements %}
			<li>{{ link(settlement) }}</li>
		{% else %}
			<li>{{ 'none'|trans }}</li>
		{% endfor %}
		</ul>

		{% if char.settlementclaims is not empty %}
			<h3>{{ 'claim.title'|trans({},"politics")|title }}</h3>
			<ul class="shortlist">
			{% for claim in char.settlementclaims %}
				<li>{{ link(claim.settlement) }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endif %}

	{% if details.spot %}
		<h2>{{ 'npc.soldier'|transchoice(10)|capitalize }}</h2>
		{% if soldiers is not empty %}
			{% if details.spotmore %}
				<ul>
				{% for type,number in soldiers %}
					<li>{{number}} {{ ("soldier."~type)|transchoice(number) }}</li>
				{% endfor %}
			</ul>
			{% else %}
				{% set soldiercount = 0 %}
				{% for type,number in soldiers %}
					{% set soldiercount = soldiercount + number %}
				{% endfor %}
				{{ soldiercount }} {{ 'npc.soldier'|transchoice(soldiercount) }}
			{% endif %}
		{% else %}
			{{ 'none'|trans }}
		{% endif %}

		<h2>{{ 'npc.entourage'|transchoice(10)|capitalize }}</h2>
		{% if entourage is not empty %}
			{% if details.spy %}
				<ul>
				{% for member in entourage %}
					<li>{{member.number}} {{ ("npc."~member.name)|transchoice(member.number) }}</li>
				{% endfor %}
				</ul>
			{% else %}
				{% set entouragecount = 0 %}
				{% for type,number in entourage %}
					{% set entouragecount = entouragecount + number %}
				{% endfor %}
				{{ entouragecount }} {{ 'npc.entourage'|transchoice(entouragecount) }}
			{% endif %}
		{% else %}
			{{ 'none'|trans }}
		{% endif %}
	{% endif %}
{% endif %}

{% if not app.request.isXmlHttpRequest and not char.npc %}
	{% if (details.spot or details.spy) and char.artifacts is not empty %}
	<br />
	<h2>{{ 'artifact.title'|trans|title }}</h2>
	<ul>
		{% for artifact in char.artifacts %}
		<li>{{ link(artifact) }}</li>
		{% endfor %}
	</ul>
	{% endif %}

	<br />
	<div id="reputation">
	<div id="repplaceholder">
		<h2>{{ 'rating.title'|trans|title }}</h2>
		<button id="expandreputation">{{ 'expand'|trans }}</button>
	</div>
	</div>
{% endif %}

{% endblock %}

{% block jquery %}
	{% if not app.request.isXmlHttpRequest and not char.npc %}
/*	$("#expandreputation").click(function(){ */
/* expanding always now */
		$("#expandreputation").replaceWith('<img src="{{ asset('bundles/bm2site/images/loader.png') }}"/>');
		$.get("{{ path('bm2_site_character_reputation', {'id':char.id}) }}", function(data) {
			$("#repplaceholder").replaceWith(data);
		});
/*	}); */

	$("#reputation").on("click", ".upvote", function(){
		var id = $(this).data('id');
		$.post("{{ path('bm2_site_character_vote') }}", {"id":id, "vote":1});
		$(this).parent().children("button").addClass("inactive");
		$(this).addClass("selected").removeClass("inactive");
	});
	$("#reputation").on("click", ".downvote", function(){
		var id = $(this).data('id');
		$.post("{{ path('bm2_site_character_vote') }}", {"id":id, "vote":-1});
		$(this).parent().children("button").addClass("inactive");
		$(this).addClass("selected").removeClass("inactive");
	});

	var characters = 200;
	$("#reputation").on("keyup", "textarea", function(){
		if ($(this).val().length > characters){
			$(this).val($(this).val().substr(0, characters));
		}
{#
		var remaining = characters -  $(this).val().length;
		$("#counter").html("You have <strong>"+  remaining+"</strong> characters remaining");
		if(remaining <= 10) {
			$("#counter").css("color","red");
		} else {
			$("#counter").css("color","black");
		}
#}
	});

	{% endif %}
{% endblock %}
