{% extends "layout.html.twig" %}

{% macro extras(participants, data) %}
	{% if data.extra is defined %}
		{% for extra in data.extra %}
			{% set who = null %}
			{% set by = null %}
			{% for participant in participants %}
				{% if participant.character.id == extra.who %}
					{% set who = participant.character %}
				{% endif %}
				{% if extra.by is defined and participant.character.id == extra.by %}
					{% set by = participant.character %}
				{% endif %}
			{% endfor %}
			<li>{{ ('battle.extras.'~extra.what)|trans({'%who%':who?link(who):'[nobody]', '%by%':by?link(by):'[nobody]'})|raw }}</li>
		{% endfor %}
	{% endif %}
{% endmacro %}


{% import _self as macros %}

{% block content %}
<h2>{{ 'battle.title'|trans|title }}</h2>
<p>
	{{ location.key|trans({'%location%':link(location.entity)})|raw }}
	-
	{{ report.cycle|gametime('long') }}
</p>
{% if report.countPublicJournals > 0 %}
<p>{{ 'battle.journals'|trans}}</p>
<ul>
	{% for journal in report.journals %}
		{% if journal.public %}
			<li>{{link(journal)}} - {{link(journal.character)}} ({{journal.date|date}})</li>
		{% endif %}
	{% endfor %}
</ul>
{% endif %}
{% if access %}
	<a href="{{path('maf_journal_write_battle', {"report":report.id}) }}">{{ 'battle.journalwrite'|trans }}</a>
	<p>
	{% if report.defensebuildings is not empty %}
		<ul class="shortlist">
			{# FIXME: Quick hack to get this into one line #}
			<li>{{ 'battle.defenses'|trans }}</li>
			{% for building in report.defensebuildings %}
				<li>{{ link(building) }}</li>
			{% endfor %}
		</ul>
		<br />
	{% endif %}
	</p>
	<p>
	<table class="battlereport" >
	{% if version == 1 %}
		<tr><td></td>
			<th colspan="{{ start|length }}"><h3>{{ 'battle.participants'|trans|title }}</h3></th>
		<td></td></tr>
		{# this part here (and only this part) assumes 2 sides to a battle #}
		<tr>
			<td rowspan="100" class="battlebanners" align="right"><ul>
			{% for participant in report.participants if participant.groupId == 0 %}
				{% if participant.character.crest %}
					<li>{{ character_link(participant.character.id, '<img src="'~path("bm2_site_heraldry_crest", {"id":participant.character.crest.id})~'"/>') }}</li>
				{% endif %}
			{% endfor %}
			</ul></td>
			<td class="reportcolumn"><ul class="shortlist">
			{% for participant in report.participants if participant.groupId == 0 %}
				<li>{{ link(participant.character) }}</li>
			{% endfor %}
			</ul></td>

			<td class="reportcolumn"><ul class="shortlist">
			{% for participant in report.participants if participant.groupId == 1 %}
				<li>{{ link(participant.character) }}</li>
			{% endfor %}
			</ul></td>
			<td rowspan="100" class="battlebanners" align="left"><ul>
			{% for participant in report.participants if participant.groupId == 1 %}
				{% if participant.character.crest %}
					<li><img src="{{ path("bm2_site_heraldry_crest", {"id":participant.character.crest.id}) }}"/></li>
				{% endif %}
			{% endfor %}
			</ul></td>
		</tr>

		<tr><th colspan="{{ start|length }}"><h3>{{ 'battle.initial'|trans|title }}</h3></th></tr>
		<tr>
		{% for i, group in start %}
			<td valign="top"><ul>
			{% for soldiers in group %}
				<li>{{ soldiers.amount }} {{ ('soldier.'~soldiers.type)|transchoice(soldiers.amount) }}</li>
			{% endfor %}
			</ul></td>
		{% endfor %}
		</tr>

		<tr><th colspan="{{ start|length }}"><h3>{{ 'battle.combat'|trans|title }}</h3></th></tr>

		<tr><th colspan="{{ start|length }}"><h4>{{ 'battle.ranged.title'|trans|title }}</h4></th></tr>
		<tr>
		{% for i, group in report.combat.ranged %}
			<td valign="top">
				{% if group.shots > 0 %}
				<ul>
					<li>{{ 'battle.ranged.shots'|transchoice(group.shots, {'%i%':group.shots}) }}</li>
					<li>{{ 'battle.ranged.hits'|transchoice(group.hits, {'%i%':group.hits}) }}</li>
					{% for result,amount in group.results if amount > 0 and result != 'fail' and result != 'extra' %}
						<li>{{ ('battle.ranged.'~result)|transchoice(amount, {'%i%':amount}) }}</li>
					{% endfor %}
					{% if group.routed > 0 %}
						<li>{{ 'battle.ranged.routed'|transchoice(group.routed, {'%i%':group.routed}) }}</li>
					{% endif %}
				{% endif %}
				{{ macros.extras(report.participants, group) }}
				</ul>
			</td>
		{% endfor %}
		</tr>

		{% for melee in report.combat.melee %}
			<tr><th colspan="{{ start|length }}"><h4>{{ 'battle.melee.title'|trans({'%i%':loop.index})|title }}</h4></th></tr>
			<tr>
			{% for i, group in melee %}
				<td valign="top">
				<ul>
					{% for result,amount in group if amount > 0 and result != 'fail' and result != 'extra' %}
						<li>{{ ('battle.melee.'~result)|transchoice(amount, {'%i%':amount}) }}</li>
					{% endfor %}
					{{ macros.extras(report.participants, group) }}
				</ul>
				</td>
			{% endfor %}
			</tr>
		{% endfor %}

		<tr><th colspan="{{ start|length }}"><h3>{{ 'battle.hunt.title'|trans|title }}</h3></th></tr>
		<tr>
		{% for i, group in report.hunt %}
			<td valign="top">
			<ul>
				{% for result,amount in group if amount > 0 and result != 'extra' %}
					<li>{{ ('battle.hunt.'~result)|transchoice(amount, {'%i%':amount}) }}</li>
				{% endfor %}
				{{ macros.extras(report.participants, group) }}
			</ul>
			</td>
		{% endfor %}
		</tr>

		<tr><th colspan="{{ start|length }}"><h3>{{ 'battle.finish'|trans|title }}</h3></th></tr>
		<tr>
		{% for i, group in survivors %}
			<td valign="top">
			<ul>
			{% for soldiers in group %}
				<li>{{ soldiers.amount }} {{ soldiers.type }}</li>
			{% else %}
				(none)
			{% endfor %}
			</ul>
			</td>
		{% endfor %}
		</tr>

		<tr><th colspan="{{ start|length }}"><h3>{{ 'battle.fate.title'|trans|title }}</h3></th></tr>
		<tr>
		{% for i, group in nobles %}
			<td valign="top">
			<ul>
			{% for noble in group %}
				<li>{{ ('battle.fate.'~noble.fate)|trans({'%character%':link(noble.character)})|raw }}</li>
			{% endfor %}
			</ul>
			</td>
		{% endfor %}
		</tr>


	{% elseif version == 2 %}
		<tr>
			<th colspan="{{ count }}"><h3>{{ 'battle.participants'|trans|title }}</h3></th>
		</tr>
		<tr>
			{% for group in report.groups %}
				<td class="reportcolumn"><ul class="shortlist">
				{% for participant in group.characters %}
					{% if participant.character %}
						<li>
						{% if participant.character.crest %}
							{{ character_link(participant.character.id, '<img src="'~path("bm2_site_heraldry_crest", {"id":participant.character.crest.id})~'" width="60px" height="60px"/>') }}
						{% else %}
							{{ character_link(participant.character.id, '<img src="'~asset("bundles/bm2site/heraldry-svg/empty.svg")~'" width="60px" height="60px"/>') }}
						{% endif %}
						{{ link(participant.character) }}
						</li>
					{% endif %}
				{% endfor %}
				</ul></td>
			{% endfor %}
		</tr>
		<tr>
			<th colspan="{{ count }}"><h3>{{ 'battle.initial'|trans|title }}</h3></th>
		</tr>
		<tr>
			{% for group in report.groups %}
				<td valign="top"><ul>
				{% for soldiers, i in group.start %}
						<li>{{ i }} {{ ('soldier.'~soldiers)|transchoice(i) }}</li>
				{% endfor %}
				</ul></td>
			{% endfor %}
		</tr>
		<tr>
			<th colspan="{{ count }}"><h3>{{ 'battle.combat'|trans|title }}</h3></th>
		</tr>
		{% for i in 1 .. roundcount %}
			<tr>
				<th colspan="{{ count }}"><h4>{{ 'battle.round.title'|trans({'%i%':i})|title }}</h4></th></tr>
			<tr>
			{% for group in report.groups %}
				<td>
				{% for stage in group.combatStages if stage.round == i %}
					{% for result, amount in stage.data if amount > 0 %}
						<li>{{ ('battle.round.'~result)|transchoice(amount, {'%i%':amount}) }}</li>
					{% endfor %}
					{% for extra in stage.extra %}
						{% set who = null %}
						{% set by = null %}
						{% for participant in fighters %}
							{% if participant.character.id == extra.who %}
								{% set who = participant.character %}
							{% endif %}
							{% if extra.by is defined and participant.character.id == extra.by %}
								{% set by = participant.character %}
							{% endif %}
						{% endfor %}
						<li>{{ ('battle.extras.'~extra.what)|trans({'%who%':who?link(who):'[nobody]', '%by%':by?link(by):'[nobody]'})|raw }}</li>
					{% endfor %}
				{% endfor %}
				</td>
			{% endfor %}
			</tr>
		{% endfor %}
		</tr>
		<tr>
			<th colspan="{{ count }}"><h3>{{ 'battle.hunt.title'|trans|title }}</h3></th>
		</tr>
		<tr>
			{% for group in report.groups %}
				<td valign="top"><ul>
				{% for result,amount in group.hunt if amount > 0 and result != 'extra' %}
					<li>{{ ('battle.hunt.'~result)|transchoice(amount, {'%i%':amount}) }}</li>
				{% endfor %}
				{# TODO: Add logic for when nobles are killed while fleeing. #}
				</ul></td>
			{% endfor %}
		</tr>
		<tr>
			<th colspan="{{ count }}"><h3>{{ 'battle.finish'|trans|title }}</h3></th>
		</tr>
		<tr>
		{% for group in report.groups %}
			<td valign="top">
			<ul>
			{% for type, amount in group.finish %}
				<li>{{ amount }} {{ type }}</li>
			{% else %}
				(none)
			{% endfor %}
			</ul>
			</td>
		{% endfor %}
		</tr>

		<tr>
		<th colspan="{{ count }}"><h3>{{ 'battle.fate.title'|trans|title }}</h3></th></tr>
		<tr>
		{% for group in report.groups %}
			<td valign="top">
			<ul>
			{% for i, fate in group.fates %}
				<li>{{ ('battle.fate.'~fate)|trans({'%character%':character_link(i)})|raw }}</li>
			{% endfor %}
			</ul>
			</td>
		{% endfor %}
		</tr>
	{% endif %}
	</table>
	</p>
{% endif %}

<p>
{% if is_granted('ROLE_ADMIN') %}
<h2>Raw Debug Output</h2>
<pre>{{ report.debug }}</pre>
{% endif %}
</p>

{% endblock %}
