{% extends "BM2SiteBundle::layout.html.twig" %}

{% block content %}

<h2>{{ "artifact.owned.title"|trans|title }}</h2>
<table>
	<thead><tr>
		<th>Name</th>
		<th>currently owned by</th>
		<th></th>
	</tr></thead>
	<tbody>
		{% for artifact in artifacts %}
		<tr>
			<td>{{ link(artifact) }}</td>
			<td>
				{% if artifact.owner %}
					{{ link(artifact.owner) }}
				{% else %}
					(nobody)
				{% endif %}
			</td>
			<td>
				{% if artifact.owner is null %}
					<a href="{{ path('bm2_site_artifacts_assign', {'id':artifact.id}) }}">give to character</a>
					---
					<a href="{{ path('bm2_site_artifacts_spawn', {'id':artifact.id}) }}">drop into world</a>
				{% endif %}
			</td>
		</tr>
		{% endfor %}		
	</tbody>
</table>

<h2>{{ "artifact.create.title"|trans|title }}</h2>

<a href="{{ path('bm2_site_artifacts_create') }}">{{ "artifact.create.title"|trans }}</a>

{% endblock %}