{% extends "layout.html.twig" %}

{% block content %}
	{% if details %}
		<div class="queue">
			<h3>{{ 'place.history'|trans({},"places")|title }}</h3>\
		</div>

		<h2>{{ place.formalname }}</h2>

		<dl>
			<dt>{{ 'place.owner'|trans({},"places") }}</dt>
			{% if place.owner %}
				<dd>{{ link(place.owner) }}</dd>
			{% else %}
				{{ 'place.noowner'|trans({}, "places") }}
			{% endif %}
			<dt>{{ 'place.name'|trans({},"places") }}</dt>
			<dd>{{ place.name }}</dd>
		</dl>
		<h3>{{ 'description'|trans({},"places")|title }}</h3>
		{% if inside %}
			{% if place.description.text is not null %}
			{{ place.description.text|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><blockquote>')|wikilinks }}
			{% endif %}
		{% else %}
			{% if place.shortDescription is not null %}
			{{ place.shortDescription|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><blockquote>')|wikilinks }}
			{% endif %}
		{% endif %}
	{% else %}
		<h2>{{ 'unknown'|trans({},"places")|title }}</h2>
	{% endif %}
{% endblock %}
