{% extends "layout.html.twig" %}

{% block content %}
	<h2>{{ "military.evade.name"|trans({},"actions")|title }}</h2>
	<p>{{ "military.evade.intro"|trans({},"actions")|raw }}</p>
	{% if result is defined %}
		<p>
		{% if result.success %}
			{{ "military.evade.success"|trans({},"actions")|raw }}
		{% else %}
			{{ result.message|trans({},"actions") }}
		{% endif %}
		</p>
	{% else %}
		{{ form(form) }}
	{% endif %}

{% endblock %}
