{% extends "layout.html.twig" %}

{% block content %}
	{% if settlement %}
		{% if siege %}
			{# Build siege display! #}
			{% if action == "leave" %}
				<h2>{{ "military.siege.actions.leave.name"|trans({},"actions")|title }}</h2>
				<p>{{ "military.siege.actions.leave.description"|trans({"%settlement%":settlement.name}, "actions")|raw }}</p>
			{% elseif action == 'joinsiege' %}
				<h2>{{ "military.siege.actions.join.name"|trans({},"actions")|title }}</h2>
				<p>{{ "military.siege.actions.join.description"|trans({"%settlement%":settlement.name}, "actions")|raw }}</p>
			{% elseif action == 'assault' %}
				<h2>{{ "military.siege.actions.assault.name"|trans({},"actions")|title }}</h2>
				<p>{{ "military.siege.actions.assault.description"|trans({"%settlement%":settlement.name}, "actions")|raw }}</p>
			{% elseif action == 'disband' %}
				<h2>{{ "military.siege.actions.disband.name"|trans({},"actions")|title }}</h2>
				<p>{{ "military.siege.actions.disband.description"|trans({"%settlement%":settlement.name}, "actions")|raw }}</p>
			{% elseif action == 'assume' %}
				<h2>{{ "military.siege.actions.assume.name"|trans({},"actions")|title }}</h2>
				<p>{{ "military.siege.actions.assume.description"|trans({"%settlement%":settlement.name}, "actions")|raw }}</p>
			{% elseif action == 'leadership' %}
				<h2>{{ "military.siege.actions.leadership.name"|trans({},"actions")|title }}</h2>
				<p>{{ "military.siege.actions.leadership.description"|trans({"%settlement%":settlement.name}, "actions")|raw }}</p>
			{% else %}
				<h2>{{ "military.siege.menu.name"|trans({},"actions")|title }}</h2>
				<p>{{ "military.siege.menu.active"|trans({"%settlement%":settlement.name}, "actions")|raw }}</p>
			{% endif %}
			{% if siege.encircled %}
				{{ "military.siege.status.encirlced"|trans({"%current%":siege.stage, "%max%":siege.maxStage, "%soldiers%":siege.encirclement},"actions"|raw) }}
			{% else %}
				{{ "military.siege.status.notencirlced"|trans({"%current%":siege.stage, "%max%":siege.maxStage, "%soldiers%":siege.encirclement},"actions"|raw) }}
			{% endif %}
			{{ form(form) }}
		{% else %}
			<h2>{{ "military.siege.menu.name"|trans({},"actions")|title }}</h2>
			<p>{{ "military.siege.menu.inactive.settlement"|trans({"%settlement%":settlement.name},"actions")|raw }}</p>
			{{ form(form) }}
		{% endif %}
	{% elseif place %}
		{% if siege %}
			{# Build siege display! #}
			{% if action == "leave" %}
				<h2>{{ "military.siege.actions.leave.name"|trans({},"actions")|title }}</h2>
				<p>{{ "military.siege.actions.leave.description"|trans({"%place%":place.name}, "actions")|raw }}</p>
			{% elseif action == 'joinsiege' %}
				<h2>{{ "military.siege.actions.join.name"|trans({},"actions")|title }}</h2>
				<p>{{ "military.siege.actions.join.description"|trans({"%place%":place.name}, "actions")|raw }}</p>
			{% elseif action == 'assault' %}
				<h2>{{ "military.siege.actions.assault.name"|trans({},"actions")|title }}</h2>
				<p>{{ "military.siege.actions.assault.description"|trans({"%place%":place.name}, "actions")|raw }}</p>
			{% elseif action == 'disband' %}
				<h2>{{ "military.siege.actions.disband.name"|trans({},"actions")|title }}</h2>
				<p>{{ "military.siege.actions.disband.description"|trans({"%place%":place.name}, "actions")|raw }}</p>
			{% elseif action == 'assume' %}
				<h2>{{ "military.siege.actions.assume.name"|trans({},"actions")|title }}</h2>
				<p>{{ "military.siege.actions.assume.description"|trans({"%place%":place.name}, "actions")|raw }}</p>
			{% elseif action == 'leadership' %}
				<h2>{{ "military.siege.actions.leadership.name"|trans({},"actions")|title }}</h2>
				<p>{{ "military.siege.actions.leadership.description"|trans({"%place%":place.name}, "actions")|raw }}</p>
			{% else %}
				<h2>{{ "military.siege.menu.name"|trans({},"actions")|title }}</h2>
				<p>{{ "military.siege.menu.active"|trans({"%settlement%":place.name}, "actions")|raw }}</p>
			{% endif %}
			{{ form(form) }}
		{% else %}
			<h2>{{ "military.siege.menu.name"|trans({},"actions")|title }}</h2>
			<p>{{ "military.siege.menu.inactive.place"|trans({"%place%":place.name},"actions")|raw }}</p>
			{{ form(form) }}
		{% endif %}
	{% endif %}

{% endblock %}
