{% if list.elements %}
{% if list.name is defined %}
	{% if submenu is defined %}
		<{{submenu}} class="clear">{{ list.name|trans({},domain)|title }}</{{submenu}}>
	{% else %}
		<h2 class="clear">{{ list.name|trans({},domain)|title }}</h2>
	{% endif %}
{% endif %}
<ul>
{% set inside = false %}
{% for element in list.elements %}
	{% if element.parameters is defined %}{% set params = element.parameters %}{% else %}{% set params = {} %}{% endif %}
	{% if element.transkeys is defined %}{% set transkeys = element.transkeys %}{% else %}{% set transkeys = {} %}{% endif %}
	{% if element.title is defined %}
		{% if inside %}
			</ul>
		{% endif %}
		<h2 class="clear">{{ element.title }}</h2>
		{% if inside %}
			<ul>
			{% set inside = false %}
		{% endif %}
	{% elseif element.url is defined %}
		{% set inside = true %}
		{% if element.long is defined %}
			<li class="tt_bot" title="{{ element.long|trans(transkeys,domain)|escape }}">
		{% else %}
			<li>
		{% endif %}
		{% if element.vars.spawn is defined %}
			{% if element.vars.spawn %}
				<a href="{{ path(element.url, params) }}">{{ (element.name ~ '.deactivate')|trans({},domain)|title }}</a>
			{% elseif element.vars.spawn is defined and not element.vars.spawn %}
				<a href="{{ path(element.url, params) }}">{{ (element.name ~ '.activate')|trans({},domain)|title }}</a>
			{% endif %}
		{% else %}
			<a href="{{ path(element.url, params) }}">{{ element.name|trans(transkeys,domain)|title }}</a>
		{% endif %}
	{% else %}
		{% set inside = true %}
		{% if element.long is defined %}
			<li class="disabled tt_bot" title="{{ element.long|trans(transkeys,domain)|escape }}">
		{% else %}
			<li class="disabled">
		{% endif %}
		<span class="nolink">{{ element.name|trans(transkeys,domain)|title }}</span>
	{% endif %}
	{% if element.description is defined %}
		{% if element.url is defined %}
			{{ element.description|trans(transkeys,domain) }}
		{% else %}
			{# unavailable messages are always in the messages domain #}
			{{ element.description|trans(transkeys) }}
		{% endif %}
	{% endif %}
	</li>
{% endfor %}
</ul>
{% endif %}
