<div class="queue">
	{{ toc|markdown|manuallinks }}
	<h2>{{ 'manual.reference'|trans }}</h2>
	<ul>
		<li><a href="{{ path('bm2_manual', {'page':'measurements'}) }}">{{ 'manual.measurements'|transchoice(10) }}</a></li>
		<li><a href="{{ path('bm2_site_info_allbuildingtypes') }}">{{ 'building'|transchoice(10) }}</a></li>
		<li><a href="{{ path('bm2_site_info_allfeaturetypes') }}">{{ 'feature'|transchoice(10) }}</a></li>
		<li><a href="{{ path('bm2_site_info_allentouragetypes') }}">{{ 'npc.entourage'|transchoice(10) }}</a></li>
		<li><a href="{{ path('bm2_site_info_allequipmenttypes') }}">{{ 'equipment'|trans }}</a></li>
	</ul>
</div>
