{% extends "layout.html.twig" %}

{% block content %}
	<h2>{{ 'personal.requests.name'|trans({},"actions") }}</h2>
	<p>{{ 'personal.requests.intro'|trans({},"actions")|raw }}</p>

	<h3> {{ 'personal.requests.list'|trans({},"actions")|title }}</h3>
	{# For all that is sane, we do an individual if check for specific types or requests against every request. Ideally, we sort these in the order we expect them to happen. #}
	{% for gamerequest in gamerequests %}
		{% if gamerequest.type == 'soldier.food' %}
			<hr>
			{{ 'personal.request.soldierfood'|trans({"%link-character%":link(gamerequest.fromCharacter), "%link-settlement%":link(gamerequest.toSettlement)}, "actions")|raw }}
			{{ 'personal.request.created'|trans({"%date%":gamerequest.created|date("D, d M Y H:i:s")}, "actions")|raw }}
			{% if gamerequest.expires %}
				{{ 'personal.request.expires'|trans({"%date%":gamerequest.expires|date("D, d M Y H:i:s")}, "actions")|raw }}
			{% else %}
				{{ 'personal.request.noexpire'|trans({}, "actions")|raw }}
			{% endif %}
			<div class="subcontent inline_announcements" style="color:#460702">
			<h4>{{ gamerequest.subject|title }}</h4>
			{{ gamerequest.text|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><blockquote>')|wikilinks}}
			<a href="{{path('bm2_gamerequest_approve', {"id":gamerequest.id}) }}"><button id="approve">{{ 'personal.request.approve'|trans({},"actions") }}</button></a> | <a href="{{path('bm2_gamerequest_deny', {"id":gamerequest.id}) }}"><button id="deny">{{ 'personal.request.deny'|trans({},"actions") }}</button></a>
			</div>
		{% elseif gamerequest.type == 'house.cadet' %}
			<hr>
			{{ 'house.manage.cadet.preamble'|trans({"%link-character%":link(gamerequest.fromCharacter), "%link-house%":link(gamerequest.fromHouse), "%date%":gamerequest.created|date("D, d M Y H:i:s")}, "politics")|raw }}
			<div class="subcontent inline_announcements" style="color:#460702">
			<h4>{{ gamerequest.subject|title }}</h4>
			{{ gamerequest.text|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><blockquote>')|wikilinks}}
			<a href="{{path('bm2_gamerequest_approve', {"id":gamerequest.id}) }}"><button id="approve">{{ 'house.manage.cadet.approve'|trans({},"politics") }}</button></a> | <a href="{{path('bm2_gamerequest_deny', {"id":gamerequest.id}) }}"><button id="deny">{{ 'house.manage.cadet.deny'|trans({},"politics") }}</button></a>
			</div>
		{% elseif gamerequest.type == 'house.subcreate' %}
			<hr>
			{{ 'house.manage.subcreate.preamble'|trans({"%link-character%":link(gamerequest.fromCharacter), "%date%":gamerequest.created|date("D, d M Y H:i:s")}, "politics")|raw }}
			<div class="subcontent inline_announcements" style="color:#460702">
			<h4>{{ gamerequest.subject|title }}</h4>
			{{ gamerequest.text|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><blockquote>')|wikilinks}}
			<a href="{{path('bm2_gamerequest_approve', {"id":gamerequest.id}) }}"><button id="approve">{{ 'house.manage.subcreate.approve'|trans({},"politics") }}</button></a> | <a href="{{path('bm2_gamerequest_deny', {"id":gamerequest.id}) }}"><button id="deny">{{ 'house.manage.subcreate.deny'|trans({},"politics") }}</button></a>
			</div>
		{% elseif gamerequest.type == 'house.join' %}
			<hr>
			{{ 'house.manage.applicant.preamble'|trans({"%link-character%":link(gamerequest.fromCharacter), "%date%":gamerequest.created|date("D, d M Y H:i:s")}, "politics")|raw }}
			<div class="subcontent inline_announcements" style="color:#460702">
			<h4>{{ gamerequest.subject|title }}</h4>
			{{ gamerequest.text|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><blockquote>')|wikilinks}}
			<a href="{{path('bm2_gamerequest_approve', {"id":gamerequest.id}) }}"><button id="approve">{{ 'house.manage.applicant.approve'|trans({},"politics") }}</button></a> | <a href="{{path('bm2_gamerequest_deny', {"id":gamerequest.id}) }}"><button id="deny">{{ 'house.manage.applicant.deny'|trans({},"politics") }}</button></a>
			</div>
		{% elseif gamerequest.type == 'house.uncadet' %}
			<hr>
			{{ 'house.manage.uncadet.preamble'|trans({"%link-character%":link(gamerequest.fromCharacter), "%link-house%":link(gamerequest.fromHouse), "%date%":gamerequest.created|date("D, d M Y H:i:s")}, "politics")|raw }}
			<div class="subcontent inline_announcements" style="color:#460702">
			<h4>{{ gamerequest.subject|title }}</h4>
			{{ gamerequest.text|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><blockquote>')|wikilinks}}
			<a href="{{path('bm2_gamerequest_approve', {"id":gamerequest.id}) }}"><button id="approve">{{ 'house.manage.uncadet.approve'|trans({},"politics") }}</button></a> | <a href="{{path('bm2_gamerequest_deny', {"id":gamerequest.id}) }}"><button id="deny">{{ 'house.manage.uncadet.deny'|trans({},"politics") }}</button></a>
			</div>
		{% elseif gamerequest.type == 'oath.offer' %}
			<hr>
			{% if gamerequest.toSettlement %}
				{{ 'oath.offer.preamble'|trans({"%link-character%":link(gamerequest.fromCharacter), "%link-settlement%":link(gamerequest.toSettlement), "%date%":gamerequest.created|date("D, d M Y H:i:s")}, "politics")|raw }}
			{% elseif gamerequest.toRealm %}
				{{ 'oath.offer.preamble2'|trans({"%link-character%":link(gamerequest.fromCharacter), "%link-realm%":link(gamerequest.toRealm), "%date%":gamerequest.created|date("D, d M Y H:i:s")}, "politics")|raw }}
			{% elseif gamerequest.toPlace %}
				{{ 'oath.offer.preamble3'|trans({"%link-character%":link(gamerequest.fromCharacter), "%link-place%":link(gamerequest.toPlace), "%date%":gamerequest.created|date("D, d M Y H:i:s")}, "politics")|raw }}
			{% else %}
				{{ 'oath.offer.preamble4'|trans({"%link-character%":link(gamerequest.fromCharacter), "%link-realmposition%":link(gamerequest.toPosition), "%date%":gamerequest.created|date("D, d M Y H:i:s")}, "politics")|raw }}
			{% endif %}
			<div class="subcontent inline_announcements" style="color:#460702">
			<h4>{{ gamerequest.subject|title }}</h4>
			{{ gamerequest.text|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><blockquote>')|wikilinks}}
			<a href="{{path('bm2_gamerequest_approve', {"id":gamerequest.id}) }}"><button id="approve">{{ 'oath.offer.approve'|trans({},"politics") }}</button></a> | <a href="{{path('bm2_gamerequest_deny', {"id":gamerequest.id}) }}"><button id="deny">{{ 'oath.offer.deny'|trans({},"politics") }}</button></a>
			</div>
		{% elseif gamerequest.type == 'realm.join' %}
			<hr>
			{{ 'diplomacy.join.preamble'|trans({"%link-character%":link(gamerequest.fromCharacter), "%link-realm%":link(gamerequest.fromRealm), "%link-realm-2%":link(gamerequest.toRealm), "%date%":gamerequest.created|date("D, d M Y H:i:s")}, "politics")|raw }}
			<div class="subcontent inline_announcements" style="color:#460702">
			<h4>{{ gamerequest.subject|title }}</h4>
			{{ gamerequest.text|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><blockquote>')|wikilinks}}
			<a href="{{path('bm2_gamerequest_approve', {"id":gamerequest.id}) }}"><button id="approve">{{ 'diplomacy.join.approve'|trans({},"politics") }}</button></a> | <a href="{{path('bm2_gamerequest_deny', {"id":gamerequest.id}) }}"><button id="deny">{{ 'diplomacy.join.deny'|trans({},"politics") }}</button></a>
			</div>
		{% elseif gamerequest.type == 'assoc.join' %}
			<hr>
			{{ 'assoc.requests.join.preamble'|trans({"%link-character%":link(gamerequest.fromCharacter), "%link-assoc%":link(gamerequest.toAssociation), "%date%":gamerequest.created|date("D, d M Y H:i:s")}, "orgs")|raw }}
			<div class="subcontent inline_announcements" style="color:#460702">
			<h4>{{ gamerequest.subject|title }}</h4>
			{{ gamerequest.text|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><blockquote>')|wikilinks}}
			<a href="{{path('bm2_gamerequest_approve', {"id":gamerequest.id}) }}"><button id="approve">{{ 'diplomacy.join.approve'|trans({},"politics") }}</button></a> | <a href="{{path('bm2_gamerequest_deny', {"id":gamerequest.id}) }}"><button id="deny">{{ 'diplomacy.join.deny'|trans({},"politics") }}</button></a>
			</div>
		{% endif %}
	{% else %}
		{{ 'house.manage.applicants.empty'|trans({},"politics")|raw }}<br />
	{% endfor %}
	{% if approved|length > 0 %}
		<hr>
		<p>{{ 'personal.requests.accepted'|trans({},"actions")|raw }}</p>

		<h3> {{ 'personal.requests.cancelable'|trans({},"actions")|title }}</h3>
		{% for gamerequest in approved %}
			{% if gamerequest.type == 'soldier.food' %}
				<hr>
				{{ 'personal.request.soldierfood'|trans({"%link-character%":link(gamerequest.fromCharacter), "%link-settlement%":link(gamerequest.toSettlement)}, "actions")|raw }}
				{{ 'personal.request.created'|trans({"%date%":gamerequest.created|date("D, d M Y H:i:s")}, "actions")|raw }}
				{% if gamerequest.expires %}
					{{ 'personal.request.expires'|trans({"%date%":gamerequest.expires|date("D, d M Y H:i:s")}, "actions")|raw }}
				{% else %}
					{{ 'personal.request.noexpire'|trans({}, "actions")|raw }}
				{% endif %}
				<div class="subcontent inline_announcements" style="color:#460702">
				<h4>{{ gamerequest.subject|title }}</h4>
				{{ gamerequest.text|markdown|striptags('<strong><em><b><i><p><br><ul><ol><li><h1><h2><blockquote>')|wikilinks}}
				<a href="{{path('bm2_gamerequest_deny', {"id":gamerequest.id}) }}"><button id="deny">{{ 'personal.request.cancel'|trans({},"actions") }}</button></a>
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}

{% endblock %}
