{% extends "layout.html.twig" %}

{% block content %}
<h2>{{ "recruit.troops.name"|trans({},"actions")|title }}</h2>
<p>{{ "recruit.troops.intro"|trans({"%settlement%":settlement.name,"%type%":settlement.getType|trans},"actions")|raw }}</p>

{% if settlement.recruitlimit <= 0 %}
	<p>{{ "recruit.troops.atlimit"|trans({},"actions") }}</p>
{% else %}
	<p>{{ "recruit.troops.limit"|trans({"%max%":settlement.recruitlimit},"actions") }}</p>

	<div id="over25" class="warning hidden">{{ 'recruit.warning.over25percent'|trans({}, "actions") }}</div>
	<div id="over50" class="warning hidden">{{ 'recruit.warning.over50percent'|trans({}, "actions") }}</div>
	<div id="over100" class="error hidden">{{ 'recruit.unavailable.over100percent'|trans({}, "actions") }}</div>

	{{ form(form) }}

	<p>
		{{ "recruit.troops.current2"|trans({"%number%":allocated.number, "%optimal%":(settlement.getTrainingPoints/settlement.getSingleTrainingPoints)|number_format}, "actions")|raw }}
	</p>
{% endif %}

<div class="footnote">
	<dl class="wide">
		<dt>{{ 'settlement.train'|trans }}:</dt><dd>{{ 'settlement.traintotal'|trans|raw }}</dd>
		{% set last = null %}
		{% for data in training %}
			{% set item = data.item %}
			{% set type = item.provider %}
			{% set supply = data.resupply %}
			{% if type != last %}
				{% if last != null %}
					</ul></dd>
				{% endif %}
				<dt>{{ link(type) }}</dt>
				<dd><ul class="shortlist">
				{% set last = type %}
			{% endif %}
			<li>{{ link(item) }} ({{ (supply//item.resupplycost) }})</li>
		{% endfor %}
		{% if last != null %}
			</ul></dd>
		{% endif %}
	</dl>
</div>
{% endblock %}

{% block jquery %}
{% if settlement.recruitlimit > 0 %}
update_estimate();

$("input.recruitment").change(function(){
	update_estimate();
	var share = (recruits+{{soldierscount}})*100 / {{ settlement.population }};
	if (share>100) {
 		$("#over100").show();
 		$("#over50").hide();
 		$("#over25").hide();
	} else if (share>50) {
 		$("#over100").hide();
 		$("#over50").show();
 		$("#over25").hide();
	} else if (share>25) {
 		$("#over100").hide();
 		$("#over50").hide();
 		$("#over25").show();
 	} else {
 		$("#over100").hide();
 		$("#over50").hide();
 		$("#over25").hide();
 	}
});

{% endif %}
{% endblock %}
