{% extends "BM2SiteBundle::layout.html.twig" %}

{% block content %}
<h2>{{ 'first.title'|trans|title }}</h2>
{% if character.liege %}
	<p>{{ "first.liege"|trans({"%liege%":link(character.liege)})|raw }}</p>

	<h3>{{ 'unread.title'|trans({}, "conversations")|title }}</h3>
	{% include "Conversation/unread_template.html.twig" with {"unread":unread} only %}
{% else %}
	<p>{{ "first.free"|trans|raw }}</p>
{% endif %}

<p>{{ "first.manual"|trans({"%manual%":path("bm2_manual")})|raw }}</p>


{% endblock %}
