{% extends "BM2SiteBundle::layout.html.twig" %}

{% block content %}
<h2>{{ 'first.title'|trans|title }}</h2>
{% if character.liege %}
	<p>{{ "first.liege"|trans({"%liege%":link(character.liege)})|raw }}</p>

	<h3>{{ 'unread.title'|trans({}, "MsgBundle")|title }}</h3>
	<ul>
	{% for meta in unread %}
		<li><a href="{{ path('cmsg_conversation', {'meta':meta.id}) }}">{{ meta.conversation.topic }}</a> ({{ 'summary.new2'|trans({"%new%":meta.unread}, "MsgBundle") }})</li>
	{% else %}
		<li>{{ 'summary.nonew'|trans({}, "MsgBundle") }}</li>
	{% endfor %}
	</ul>
{% else %}
	<p>{{ "first.free"|trans|raw }}</p>
{% endif %}

<p>{{ "first.manual"|trans({"%manual%":path("bm2_manual")})|raw }}</p>


{% endblock %}
