{% extends "BM2SiteBundle::layout.html.twig" %}

{% block content %}

<h2>{{ mercs.name }}</h2>
<p>{{ 'mercenaries.intro2'|trans({}, "actions") }}</p>
{% if mercs.hiredby %}
	{% if hiredbyme %}
		{{ 'mercenaries.summary'|trans({'%men%':mercs.countliving, '%price%':mercs.totalprice}, "actions") }}
	{% else %}
		{{ 'mercenaries.hired'|trans({}, "actions") }}
	{% endif %}
{% else %}
	<p>
		{{ 'mercenaries.available'|trans({'%min_men%':mercs.minmen, '%max_men%':mercs.maxmen, '%min_price%':(mercs.price*mercs.minmen)|number_format, '%max_price%':(mercs.price*mercs.maxmen)|number_format }, "actions") }}
	</p>
	{{ 'mercenaries.equipment'|trans({}, "actions") }}
	<ul>
		<li>{{ link(mercs.weapon) }}</li>
		{% if mercs.armour %}<li>{{ link(mercs.armour) }}</li>{% endif %}
		{% if mercs.equipment %}<li>{{ link(mercs.equipment) }}</li>{% endif %}
	</ul>
{% endif %}

{% endblock %}
