{% extends "BM2SiteBundle::layout.html.twig" %}

{% block includes %}
	{{ parent() }}
	<script src="{{ asset('bundles/bm2site/map/OpenLayers.js') }}"></script>
	<script src="{{ asset('bundles/bm2site/map/map.js') }}"></script>
{% endblock %}

{% block content %}
{# overwrite because this is the one page where it's ok to have a character without a location #}
{% set character = appstate.getCharacter(true,false,true) %}
	<h2>{{ 'character.start.title'|trans|title }}</h2>
	{% if not retiree %}
	<p>{{ 'character.start.intro'|trans({"%name%":character.name})|raw }}</p>
	{% else %}
	<p>{{ 'character.start.returnee'|trans({"%name%":character.name})|raw }}</p>
	{% endif %}

	{% if not realms.isEmpty %}
		<h3>{{ 'character.start.realm'|trans|title }}</h3>
		<p>{{ 'character.start.realmintro'|trans|raw }}</p>
		{% for realm in realms %}

		{% endfor %}
	{% endif %}
	{% if not houses.isEmpty %}
		<h3>{{ 'character.start.house'|trans|title }}</h3>
		<p>{{ 'character.start.houseintro'|trans|raw }}</p>
		{% for house in houses %}

		{% endfor %}
	{% endif %}
	{% if myhouse %}
		<h3>{{ 'character.start.myhouse'|trans|title }}</h3>
		<p>{{ 'character.start.myhouseintro'|trans|raw }}</p>

	{% endif %}
{% endblock %}
