{% extends "layout.html.twig" %}

{% block content %}
<h2>{{ 'account.payment.title'|trans|title }}</h2>
{% if redeemed %}
	<div class="success">
		{% if redeemed.vipstatus > 0 %}
			{{ 'account.code.redeemed4'|trans({"%credits%":redeemed.credits, "%vip%":('vip.status.'~redeemed.vipstatus)|trans}) }}
		{% else %}
			{{ 'account.code.redeemed3'|trans({"%credits%":redeemed.credits}) }}
		{% endif %}
	</div>
{% endif %}

<p>{{ 'account.payment.credits'|trans({'%amount%':app.user.credits}) }}
<a href="{{ path("bm2_site_payment_credits") }}">{{ 'account.credits.link'|trans|title }}</a>

<h3>{{ 'account.code.title'|trans|title }}</h3>
<p>{{ 'account.code.intro'|trans }}</p>
{{ form(form) }}

{% if app.environment != 'prod' %}

<h3>{{ 'account.payment.shop'|trans|title }}</h3>
For testing purposes, you can simulate buying credits simply by clicking the buttons below:<br />
<small>(please don't try breaking it by buying credits for 10 trillion - I know it'll break at some point because it can't store the number anymore, but it's not a realistic problem)</small>

<form action="{{ path('bm2_site_payment_testpayment') }}" method="post">
	<input type="hidden" name="amount" value="10"/>
	<input type="hidden" name="currency" value="EUR"/>
	<button>10 €uro</button>
</form>
<form action="{{ path('bm2_site_payment_testpayment') }}" method="post">
	<input type="hidden" name="amount" value="20"/>
	<input type="hidden" name="currency" value="EUR"/>
	<button>20 €uro</button>
</form>

{% endif %}

{% if app.environment == 'prod' %}
<h3>{{ 'account.payment.shop'|trans|title }}</h3>
<p>{{ 'account.payment.intro'|trans|raw }}</p>

<div id="callbackresult"></div>

<table>
	<thead>
		<tr class="big">
			<th></th>
			<th>{{ 'account.credits.sum'|trans({"%amount%":500}) }}</th>
			<th>{{ 'account.credits.sum'|trans({"%amount%":1000}) }}</th>
			<th>{{ 'account.credits.sum'|trans({"%amount%":2000}) }}</th>
			<th>{{ 'account.credits.sum'|trans({"%amount%":3000}) }}</th>
			<th>{{ 'account.credits.sum'|trans({"%amount%":5000}) }}</th>
		</tr>
	</thead>
	<tbody>
		<tr class="center">
			<th><img src="https://www.paypalobjects.com/webstatic/de_DE/i/de-pp-logo-150px.png" alt="PayPal" /></th>
			<td><a href="{{ path("bm2_paypal", {"amount":5}) }}"><button>5 €uro</button></a></td>
			<td><a href="{{ path("bm2_paypal", {"amount":10}) }}"><button>10 €uro</button></a></td>
			<td><a href="{{ path("bm2_paypal", {"amount":20}) }}"><button>20 €uro</button></a></td>
			<td><a href="{{ path("bm2_paypal", {"amount":30}) }}"><button>30 €uro</button></a></td>
			<td><a href="{{ path("bm2_paypal", {"amount":50}) }}"><button>50 €uro</button></a></td>
		</tr>
	</tbody>
</table>

{% endif %}

<hr class="spacer"/>

<h3>{{ 'account.payment.history'|trans|title }}</h3>
<table>
	<thead><tr>
		<th>{{ 'account.payment.type'|trans }}</th>
		<th>{{ 'account.payment.date'|trans }}</th>
		<th>{{ 'account.payment.amount'|trans }}</th>
		<th>{{ 'account.payment.currency'|trans }}</th>
		<th>{{ 'account.credits.name'|trans }}</th>
		<th>{{ 'account.payment.code'|trans }}</th>
	</tr></thead>
	<tbody>
	{% for payment in app.user.payments %}
		<tr>
			<td>{{ payment.type }}</td>
			<td>{{ payment.ts|date }}</td>
			<td align="right">{{ payment.amount }}</td>
			<td>{{ payment.currency }}</td>
			<td align="right">{{ payment.credits }}</td>
			<td>{{ payment.transactioncode }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}


{% block javascript %}
//Success handler
var successHandler = function(purchaseAction){
	$("#callbackresult").html('{{ 'account.payment.success'|trans }}');
}

//Failure handler
var failureHandler = function(purchaseActionError){
	$("#callbackresult").html('{{ 'account.payment.fail'|trans }}');
}
{% endblock %}
